<include file="public/layout" />
<style>
    .system_img_location{text-align: center; width: 120px;position:absolute;top:15px; margin-left:265px;}
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>社区设置</h3>
            </div>
        </div>
    </div>
    <form method="post" id="handlepost" action="{:U('Community/config')}" enctype="multipart/form-data" name="form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>官方账号</label>
                </dt>
                <dd class="opt">
                    <p class="notic">用户名</p>
                    <input type="text" class="input-txt" name="official[name]" value="{$config.official.name}">
                    <br/>
                    <p class="notic">头像</p>
                    <div class="input-file-show">
                        <span class="show">
                            <a id="official_img_a" target="_blank" class="nyroModal" rel="gal" href="{$config.official.url}">
                                <i id="official_img_i" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$config.official.url}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="official_img" name="official[url]" value="{$config.official.url}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'official_img','community','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>文章排序</label>
                </dt>
                <dd class="opt">
                    <input type="radio" name="article_sort[content]" value="share" <if condition="$config.article_sort.content eq share"> checked </if> > 分享数
                    <input type="radio" name="article_sort[content]" value="publish_time" <if condition="$config.article_sort.content eq publish_time"> checked </if> > 发布时间
                    <p class="notic">文章优先级排序（由大到小）</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>热门搜索词</label>
                    <br/>
                    <a class="ncap-btn" href="javascript:;" onclick="addKeyword()">增加</a>
                </dt>
                <dd class="opt">
                    <table style="width: 50%;">
                        <tr><th style="width:40%">词名</th><th style="text-align: center;" colspan="4">操作</th></tr>
                        <tbody id="keywords">
                        <volist name="keyword" id="vo" key="k">
                            <tr>
                                <td>
                                    <input name="keyword[{$k}][id]" type="hidden" value="{$vo[id]}">
                                    <input name="keyword[{$k}][click]" type="hidden" value="{$vo[click]}">
                                    <input name="keyword[{$k}][name]" type="text" value="{$vo[name]}" class="form-control" style="width:150px; text-align: center;">（搜索量：{$vo.click}）
                                </td>
                                <td>
                                    <div class="onoff">
                                        <label for="keyword[{$k}]_is_open1" class="cb-enable <if condition='$vo[is_open] eq 1'>selected</if>">显示</label>
                                        <label for="keyword[{$k}]_is_open0" class="cb-disable <if condition='$vo[is_open] eq 0'>selected</if>">隐藏</label>
                                        <input id="keyword[{$k}]_is_open1" name="keyword[{$k}][is_open]" <if condition='$vo[is_open] eq 1'>checked</if> value="1" type="radio">
                                        <input id="keyword[{$k}]_is_open0" name="keyword[{$k}][is_open]" <if condition='$vo[is_open] eq 0'>checked</if> value="0" type="radio">
                                    </div>
                                </td>
                                <td>
                                    <div class="onoff">
                                        <label for="keyword[{$k}]_is_hot1" class="cb-enable <if condition='$vo[is_hot] eq 1'>selected</if>">是热词</label>
                                        <label for="keyword[{$k}]_is_hot0" class="cb-disable <if condition='$vo[is_hot] eq 0'>selected</if>">不是</label>
                                        <input id="keyword[{$k}]_is_hot1" name="keyword[{$k}][is_hot]" <if condition='$vo[is_hot] eq 1'>checked</if> value="1" type="radio">
                                        <input id="keyword[{$k}]_is_hot0" name="keyword[{$k}][is_hot]" <if condition='$vo[is_hot] eq 0'>checked</if> value="0" type="radio">
                                    </div>
                                </td>
                                <td>排序<input name="keyword[{$k}][sort]" type="text" value="{$vo[sort]}" class="form-control" style="width:50px; text-align: center;"></td>
                                <td style="text-align: center;"><a class="ncap-btn" onclick="delWord(2, this, {$vo[id]})">删除</a></td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>审核通过奖励</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="is_reward[content]_1" class="cb-enable <if condition='$config.is_reward.content eq 1'>selected</if>">开启</label>
                        <label for="is_reward[content]_0" class="cb-disable <if condition='$config.is_reward.content eq 0'>selected</if>">关闭</label>
                        <input id="is_reward[content]_1" name="is_reward[content]" <if condition='$config.is_reward.content eq 1'>checked</if> value="1" type="radio">
                        <input id="is_reward[content]_0" name="is_reward[content]" <if condition='$config.is_reward.content eq 0'>checked</if> value="0" type="radio">
                    </div>
                    <div class="reward_type" style="<if condition='$config.is_reward.content eq 0'>display:none;</if>">
                        <select name="reward_type[content]">
                            <option value="0">奖励选择</option>
                            <option value="1" <if condition='$config.reward_type.content eq 1'>selected</if>>优惠券</option>
                            <option value="2" <if condition='$config.reward_type.content eq 2'>selected</if>>电子币</option>
                        </select>
                    </div>
                    <div class="reward_coupon" style="<if condition='$config.reward_type.content eq 2'>display:none;</if>">
                        <a class="ncap-btn reward_coupon" href="javascript:;" onclick="addCoupon()">增加优惠券</a>
                        <table>
                            <tr><th style="width:80%">优惠券ID</th><th style="width: 50px;text-align: center;" >操作</th></tr>
                            <tbody id="coupon_ids">
                            <foreach name="$config.reward_coupon.content" item="vo">
                                <tr>
                                    <td><input name="reward_coupon[content][]" type="text" value="{$vo}" class="form-control" style="width:300px;"></td>
                                    <td style="text-align: center;"><a class="ncap-btn" href="javascript:;" onclick="$(this).parent().parent().remove();">删除</a></td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                    <div class="reward_electronic" style="<if condition='$config.reward_type.content eq 1'>display:none;</if>">
                        电子币面值
                        <input type="text" name="reward_electronic[content]"  onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" value="{$config.reward_electronic.content}" style="text-align: center;">
                    </div>
                </dd>
            </dl>
            <div class="bot">
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="document.form.submit()">确认提交</a>
            </div>
        </div>
    </form>
</div>
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
<script type="text/javascript">
    $(function () {
        keyword_count = {$keyword_count};
    });

    function img_call_back(fileurl_tmp , elementid)
    {
        $("#"+elementid).val(fileurl_tmp);
        $("#"+elementid+'_a').attr('href', fileurl_tmp);
        $("#"+elementid+'_i').attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }

    function addKeyword() {
        keyword_count += 1;
        var tr = '<tr>' +
            '       <td>' +
            '           <input name="keyword[' + keyword_count + '][id]" type="hidden" value="0">' +
            '           <input name="keyword[' + keyword_count + '][click]" type="hidden" value="0">' +
            '           <input name="keyword[' + keyword_count + '][name]" type="text" value="" class="form-control" style="width:150px; text-align: center;">（搜索量：0）' +
            '       </td>' +
            '       <td>' +
            '           <div class="onoff">' +
            '               <label for="keyword[' + keyword_count + ']_is_open1" class="cb-enable selected">显示</label>' +
            '               <label for="keyword[' + keyword_count + ']_is_open0" class="cb-disable ">隐藏</label>' +
            '               <input id="keyword[' + keyword_count + ']_is_open1" name="keyword[' + keyword_count + '][is_open]" value="1" type="radio" checked>' +
            '               <input id="keyword[' + keyword_count + ']_is_open0" name="keyword[' + keyword_count + '][is_open]" value="0" type="radio">' +
            '            </div>' +
            '        </td>' +
            '        <td>' +
            '            <div class="onoff">' +
            '                <label for="keyword[' + keyword_count + ']_is_hot1" class="cb-enable selected">是热词</label>' +
            '                <label for="keyword[' + keyword_count + ']_is_hot0" class="cb-disable ">不是</label>' +
            '                <input id="keyword[' + keyword_count + ']_is_hot1" name="keyword[' + keyword_count + '][is_hot]" value="1" type="radio" checked>' +
            '                <input id="keyword[' + keyword_count + ']_is_hot0" name="keyword[' + keyword_count + '][is_hot]" value="0" type="radio">' +
            '            </div>' +
            '        </td>' +
            '        <td>排序<input name="keyword[' + keyword_count + '][sort]" type="text" value="0" class="form-control" style="width:50px; text-align: center;"></td>' +
            '        <td style="text-align: center;"><a class="ncap-btn" onclick="delWord(1, this)">删除</a></td>' +
            '     </tr>';
        $('#keywords').append(tr);
        $(".cb-enable").click(function () {
            var parent = $(this).parents('.onoff');
            $('.cb-disable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', true);
        });
        $(".cb-disable").click(function () {
            var parent = $(this).parents('.onoff');
            $('.cb-enable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', false);
        });
    }

    function delWord(type, obj, id = '') {
        switch (type) {
            case 1:
                $(obj).parent().parent().remove();
                break;
            case 2:
                layer.confirm('确认删除？', {btn: ['确定', '取消']}, function (index) {
                    layer.close(index);
                    $.ajax({
                        type: 'POST',
                        url: "{:U('Admin/Community/delKeyword')}",
                        data: {id:id},
                        success: function () {
                            $(obj).parent().parent().remove();
                        }
                    });
                }, function (index) {
                    // 取消
                    layer.close(index);
                });
                break;
        }
    }

    $('input[name="is_reward[content]"]').change(function () {
        switch (this.value) {
            case '1':
                $('.reward_type').show();
                $('select[name="reward_type[content]"]').val('');
                break;
            case '0':
                $('.reward_type').hide();
                $('.reward_coupon').hide();
                $('.reward_electronic').hide();
                break;
        }
    });

    $('select[name="reward_type[content]"]').change(function () {
        switch (this.value) {
            case '1':
                $('.reward_coupon').show();
                $('.reward_electronic').hide();
                break;
            case '2':
                $('.reward_coupon').hide();
                $('.reward_electronic').show();
                break;
        }
    });

    function addCoupon() {
        var tr = '<tr><td><input name="reward_coupon[content][]" type="text" value="" class="form-control" style="width:300px;"></td>' +
            '<td style="text-align: center;"><a class="ncap-btn" href="javascript:;" onclick="$(this).parent().parent().remove();">删除</a></td></tr>';
        $('#coupon_ids').append(tr);
    }
</script>
</html>
