<include file="public/layout"/>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<style type="text/css">
    html, body {
        overflow: visible;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>文章内容</h3>
            </div>
        </div>
    </div>
    <form class="form-horizontal" action="{:U('School/article_6')}" id="add_post" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>内容</label>
                </dt>
                <dd class="opt">
                    <textarea class="" style="width: 50%; height: 50%; line-height: 150%" rows="5" name="content" title="">{$info.content}</textarea>
                    <span class="err" id="err_title"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>访问限制</label>
                </dt>
                <dd class="opt ctype">
                    <input name="distribute_level[]" type="checkbox" value="0" <if condition="!empty($info['distribute_level']) && in_array(0, $info['distribute_level'])">checked</if> ><label>所有人</label>
                    <input name="distribute_level[]" type="checkbox" value="1" <if condition="!empty($info['distribute_level']) && in_array(1, $info['distribute_level'])">checked</if> ><label>普通会员</label>
                    <input name="distribute_level[]" type="checkbox" value="2" <if condition="!empty($info['distribute_level']) && in_array(2, $info['distribute_level'])">checked</if> ><label>VIP</label>
                    <input name="distribute_level[]" type="checkbox" value="3" <if condition="!empty($info['distribute_level']) && in_array(3, $info['distribute_level'])">checked</if> ><label>SVIP</label>
                    <span class="err" id="err_distribute_level"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>排序</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$info.sort}" name="sort" class="input-txt"
                           onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                           onpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                    <span class="err" id="err_sort"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>下载需要的积分</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$info.integral}" name="integral" class="input-txt"
                           onKeyUp="this.value=this.value.replace(/[^.\d]/g,'')"
                           onpaste="this.value=this.value.replace(/[^.\d]/g,'')"/>
                    <span class="err" id="err_integral"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>发布时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" id="publish_time" name="publish_time" value="{$info.publish_time}">
                    <span class="add-on input-group-addon">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </span>
                    <span class="err"></span>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择上传的内容</label>
                </dt>
                <dd class="opt">
                    <select name="upload_content" id="upload_content">
                        <option value="1" <if condition="$info[upload_content] == 1">selected</if>>图片上传</option>
                        <option value="2" <if condition="$info[upload_content] == 2">selected</if>>视频上传</option>
                    </select>
                </dd>
            </dl>
            <dl class="row" id="image" style="<if condition='$info[upload_content] == 2'>display: none;</if>">
                <dt class="tit">
                    <label>图片上传</label>
                </dt>
                <dd class="opt">
                    <if condition="!empty($resource)">
                        <div id="layer-photos-demo" class="layer-photos-demo" style="text-align:center; display:inline-block;">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>
                                        <foreach name="$resource" item="vo" key="k">
                                            <div style="width:100px; text-align:center; margin: 5px; display:inline-block;">
                                                <input type="hidden" value="{$vo.image}" name="image[]">
                                                <img layer-pid="{$k}" layer-src="{$vo.image}" src="{$vo.image}" alt="" width="100" height="100" class="fa fa-picture-o" style="margin: 5px;">
                                                <br>
                                                <a href="javascript:void(0)" onClick="del_pic_div(this)">删除</a>
                                            </div>
                                        </foreach>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </if>
                    <div class="layer-photos-demo goods_xc" style="text-align:center; display:inline-block;">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>
                                    <div style="width:100px; text-align:center; margin: 5px; display:inline-block;">
                                        <input type="hidden" name="image[]" value=""/>
                                        <a href="javascript:void(0);" onClick="GetUploadify(9,'','school','call_back');">
                                            <img src="/public/images/add-button.jpg" width="100" height="100"/>
                                            <br>
                                            <a href="javascript:void(0)" onClick="">&nbsp;&nbsp;</a>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>
            <dl class="row" id="video" style="<if condition='$info[upload_content] == 1'>display: none;</if>">
                <dt class="tit">
                    <label>视频上传</label>
                </dt>
                <dd class="opt">
                    <input type="hidden" value="{$resource[0][video]}" name="video" id="video_input" />
                    <input type="hidden" value="{$resource[0][video_cover]}" name="video_cover" id="video_cover" />
                    <input type="hidden" value="{$resource[0][video_axis]}" name="video_axis" id="video_axis" />
                    <video style="" controls="controls" width="600" height="300" id="video_tag" src="{$resource[0][video]}"></video>
                    <div id="container">
                        <a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
                        <b style="font-size: 16px; display: none;" id="percent">上传进度:0%</b>
                    </div>
                    <p class="notic">上传视频大小不要超过200M</p>
                </dd>
            </dl>
            <div class="bot">
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
                <if condition="$article_id != 0">
                    <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-red" id="stopBtn">停止发布</a>
                </if>
            </div>
        </div>
        <input type="hidden" name="type" value="{$type}">
        <input type="hidden" name="class_id" value="{$class_id}">
        <input type="hidden" name="article_id" value="{$article_id}">
    </form>
</div>
<link rel="stylesheet" type="text/css" href="/public/oss/style.css"/>
<script type="text/javascript" src="/public/oss/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/public/oss/upload.js"></script>
<script type="text/javascript">
    $(function () {
        $('#publish_time').layDate();
    });

    $('#upload_content').change(function () {
        switch ($(this).val()) {
            case '1':
                $('#image').show();
                $('#video').hide();
                break;
            case '2':
                $('#image').hide();
                $('#video').show();
                break;
        }
    });

    // 上传商品相册回调函数
    function call_back(paths) {
        var last_div = $(".goods_xc:last").prop("outerHTML");
        for (var i = 0; i < paths.length; i++) {
            $(".goods_xc:eq(0)").before(last_div);	// 插入一个 新图片
            $(".goods_xc:eq(0)").find('a:eq(0)').attr('href', paths[i]).attr('onclick', '').attr('target', "_blank");// 修改他的链接地址
            $(".goods_xc:eq(0)").find('img').attr('src', paths[i]);// 修改他的图片路径
            $(".goods_xc:eq(0)").find('a:eq(1)').attr('onclick', "ClearPicArr(this,'" + paths[i] + "')").text('删除');
            $(".goods_xc:eq(0)").find('input').val(paths[i]); // 设置隐藏域 要提交的值
        }
    }

    /*
     * 上传之后删除组图input
     * @access   public
     * @val      string  删除的图片input
     */
    function ClearPicArr(obj, path) {
        layer.confirm('确认删除？', {btn: ['确定', '取消']}, function (index) {
            layer.close(index);
            $.ajax({
                type: 'GET',
                url: "{:U('Admin/Uploadify/delupload')}",
                data: {action: "del", filename: path},
                success: function () {
                    $(obj).parent().remove(); // 删除完服务器的, 再删除 html上的图片
                }
            });
        }, function (index) {
            // 取消
            layer.close(index);
        });
    }

    $(document).on("click", '#submitBtn', function () {
        verifyForm();
    });

    $(document).on("click", '#stopBtn', function () {
        stopForm();
    });

    function verifyForm() {
        $('span.err').hide();
        $.ajax({
            type: "POST",
            url: "{:U('School/article_6')}",
            data: $('#add_post').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status === 1) {
                    var result = data.result;
                    layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                        location.href = "{:U('Admin/School/')}" + result.type + "/class_id/" + result.class_id;
                    });
                } else if (data.status === 0) {
                    layer.msg(data.msg, {icon: 2, time: 1000});
                }
            }
        });
    }

    function stopForm() {
        layer.confirm('确认停止发布文章？', {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: "POST",
                url: "{:U('School/stopArticle')}",
                data: $('#add_post').serialize(),
                dataType: "json",
                error: function () {
                    layer.alert("服务器繁忙, 请联系管理员!");
                },
                success: function (data) {
                    if (data.status === 1) {
                        var result = data.result;
                        layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                            location.href = "{:U('Admin/School/')}" + result.type + "/class_id/" + result.class_id;
                        });
                    } else if (data.status === 0) {
                        layer.msg(data.msg, {icon: 2, time: 1000});
                    }
                }
            });
        }, function () {
            console.log("取消");
        });
    }
</script>
</body>
</html>
