<include file="public/layout"/>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$module.name}</h3>
            </div>
        </div>
    </div>
    <form method="post" id="datapost1" action="/index.php/admin/School/{$type}" enctype="multipart/form-data" name="form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>模块名</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" name="name" value="{$module['name']}" style="text-align: center;">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>模块描述</label>
                </dt>
                <dd class="opt">
                    <textarea name="desc" style="width: 20%; height: 100%; line-height: 150%;" rows="2">{$module.desc}</textarea>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>图标</label>
                </dt>
                <dd class="opt">
                    <div class="goods-thumb">
                        <img class="module_img" style="<if condition='$module[type] == module9'>width: 195px;height: 120px<else/>width: 90px;height: 90px</if>" src="{$module[img]}"/>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <input type="hidden" id="module_img" name="img" value="{$module[img]}" class="type-file-text">
                        <input style="cursor: pointer;" type="button" name="button" value="选择上传..." class="type-file-button" onClick="GetUploadify(1,'module_img','school','img_call_back')">
                        <div style="clear: both;"></div>
                    </div>
                    <p class="notic">
                        <if condition="$module[type] == 'module9'">
                            长498px，宽306px
                        <else/>
                            长150px，宽150px
                        </if>
                    </p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>排序</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="sort" value="{$module['sort']}" style="text-align: center; width: 10%;"
                           onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                           onpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>是否开启</label>
                </dt>
                <dd class="opt onoff">
                    <label for="module_is_open1" class="cb-enable <if condition='$module[is_open] eq 1'>selected</if>">开启</label>
                    <label for="module_is_open0" class="cb-disable <if condition='$module[is_open] eq 0'>selected</if>">隐藏</label>
                    <input id="module_is_open1" name="is_open" <if condition='$module[is_open] eq 1'>checked</if> value="1" type="radio">
                    <input id="module_is_open0" name="is_open" <if condition='$module[is_open] eq 0'>checked</if> value="0" type="radio">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>访问限制</label>
                </dt>
                <dd class="opt ctype">
                    <input name="distribute_level[]" type="checkbox" value="-1" <if condition="!empty($module['distribute_level']) && in_array(-1, $module['distribute_level'])">checked</if> ><label>禁止访问</label>
                    <input name="distribute_level[]" type="checkbox" value="0" <if condition="!empty($module['distribute_level']) && in_array(0, $module['distribute_level'])">checked</if> ><label>所有人</label>
                    <input name="distribute_level[]" type="checkbox" value="1" <if condition="!empty($module['distribute_level']) && in_array(1, $module['distribute_level'])">checked</if> ><label>普通会员</label>
                    <input name="distribute_level[]" type="checkbox" value="2" <if condition="!empty($module['distribute_level']) && in_array(2, $module['distribute_level'])">checked</if> ><label>VIP</label>
                    <input name="distribute_level[]" type="checkbox" value="3" <if condition="!empty($module['distribute_level']) && in_array(3, $module['distribute_level'])">checked</if> ><label>SVIP</label>
                    <input name="distribute_level[]" type="checkbox" value="4" <if condition="!empty($module['distribute_level']) && in_array(4, $module['distribute_level'])">checked</if> ><label>经理</label>
                    <input name="distribute_level[]" type="checkbox" value="5" <if condition="!empty($module['distribute_level']) && in_array(5, $module['distribute_level'])">checked</if> ><label>高级经理</label>
                    <input name="distribute_level[]" type="checkbox" value="6" <if condition="!empty($module['distribute_level']) && in_array(6, $module['distribute_level'])">checked</if> ><label>总监</label>
                    <input name="distribute_level[]" type="checkbox" value="7" <if condition="!empty($module['distribute_level']) && in_array(7, $module['distribute_level'])">checked</if> ><label>高级总监</label>
                    <input name="distribute_level[]" type="checkbox" value="8" <if condition="!empty($module['distribute_level']) && in_array(8, $module['distribute_level'])">checked</if> ><label>董事</label>
                    <input name="distribute_level[]" type="checkbox" value="9" <if condition="!empty($module['distribute_level']) && in_array(9, $module['distribute_level'])">checked</if> ><label>一星董事</label>
                    <input name="distribute_level[]" type="checkbox" value="10" <if condition="!empty($module['distribute_level']) && in_array(10, $module['distribute_level'])">checked</if> ><label>二星董事</label>
                    <input name="distribute_level[]" type="checkbox" value="11" <if condition="!empty($module['distribute_level']) && in_array(11, $module['distribute_level'])">checked</if> ><label>三星董事</label>
                </dd>
            </dl>
            <div class="bot">
                <input type="hidden" name="type" value="{$type}">
                <a class="ncap-btn-big ncap-btn-green" onclick="updateModule('datapost1')">确认提交</a>
            </div>
        </div>
    </form>
</div>
<div class="page">
    <div class="flexigrid">
    <div class="mDiv">
        <div class="ftitle">
            <h3>分类信息</h3>
        </div>
    </div>
    </div>
    <div class="item-title">
        <ul class="tab-base nc-row">
            <foreach name="class_list" item="v" key="k">
                <li>
                    <a href="/index.php/admin/School/{$type}/class_id/{$v[id]}"
                        <if condition="empty($class_id) && $k==0">
                            class="current"
                        <elseif condition="$v['id']==$class_id"/>
                            class="current"
                        </if>
                    >
                        <span>{$v.name}</span>
                    </a>
                </li>
            </foreach>
            <li><a onclick="addModuleClass('{$module.id}', '{$module.type}')"><h1>+</h1></a></li>
        </ul>
    </div>
    <if condition="!empty($module_class)">
        <form method="post" id="datapost2" action="{:U('School/updateModuleClass')}" enctype="multipart/form-data" name="form">
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit">
                        <label>分类名</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" class="input-txt" name="name" value="{$module_class['name']}" style="text-align: center;">
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>排序</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="sort" value="{$module_class['sort']}" style="text-align: center; width: 10%;"
                               onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                               onpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>是否开启</label>
                    </dt>
                    <dd class="opt onoff">
                        <label for="class_is_open1" class="cb-enable <if condition='$module_class[is_open] eq 1'>selected</if>">开启</label>
                        <label for="class_is_open0" class="cb-disable <if condition='$module_class[is_open] eq 0'>selected</if>">隐藏</label>
                        <input id="class_is_open1" name="is_open" <if condition='$module_class[is_open] eq 1'>checked</if> value="1" type="radio">
                        <input id="class_is_open0" name="is_open" <if condition='$module_class[is_open] eq 0'>checked</if> value="0" type="radio">
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>访问限制</label>
                    </dt>
                    <dd class="opt ctype">
                        <input name="distribute_level[]" type="checkbox" value="-1" <if condition="!empty($module_class['distribute_level']) && in_array(-1, $module_class['distribute_level'])">checked</if> ><label>禁止访问</label>
                        <input name="distribute_level[]" type="checkbox" value="0" <if condition="!empty($module_class['distribute_level']) && in_array(0, $module_class['distribute_level'])">checked</if> ><label>所有人</label>
                        <input name="distribute_level[]" type="checkbox" value="1" <if condition="!empty($module_class['distribute_level']) && in_array(1, $module_class['distribute_level'])">checked</if> ><label>普通会员</label>
                        <input name="distribute_level[]" type="checkbox" value="2" <if condition="!empty($module_class['distribute_level']) && in_array(2, $module_class['distribute_level'])">checked</if> ><label>VIP</label>
                        <input name="distribute_level[]" type="checkbox" value="3" <if condition="!empty($module_class['distribute_level']) && in_array(3, $module_class['distribute_level'])">checked</if> ><label>SVIP</label>
                        <input name="distribute_level[]" type="checkbox" value="4" <if condition="!empty($module_class['distribute_level']) && in_array(4, $module_class['distribute_level'])">checked</if> ><label>经理</label>
                        <input name="distribute_level[]" type="checkbox" value="5" <if condition="!empty($module_class['distribute_level']) && in_array(5, $module_class['distribute_level'])">checked</if> ><label>高级经理</label>
                        <input name="distribute_level[]" type="checkbox" value="6" <if condition="!empty($module_class['distribute_level']) && in_array(6, $module_class['distribute_level'])">checked</if> ><label>总监</label>
                        <input name="distribute_level[]" type="checkbox" value="7" <if condition="!empty($module_class['distribute_level']) && in_array(7, $module_class['distribute_level'])">checked</if> ><label>高级总监</label>
                        <input name="distribute_level[]" type="checkbox" value="8" <if condition="!empty($module_class['distribute_level']) && in_array(8, $module_class['distribute_level'])">checked</if> ><label>董事</label>
                        <input name="distribute_level[]" type="checkbox" value="9" <if condition="!empty($module_class['distribute_level']) && in_array(9, $module_class['distribute_level'])">checked</if> ><label>一星董事</label>
                        <input name="distribute_level[]" type="checkbox" value="10" <if condition="!empty($module_class['distribute_level']) && in_array(10, $module_class['distribute_level'])">checked</if> ><label>二星董事</label>
                        <input name="distribute_level[]" type="checkbox" value="11" <if condition="!empty($module_class['distribute_level']) && in_array(11, $module_class['distribute_level'])">checked</if> ><label>三星董事</label>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>是否是学习课程分类</label>
                    </dt>
                    <dd class="opt onoff">
                        <label for="class_is_learn1" class="cb-enable <if condition='$module_class[is_learn] eq 1'>selected</if>">是</label>
                        <label for="class_is_learn0" class="cb-disable <if condition='$module_class[is_learn] eq 0'>selected</if>">不是</label>
                        <input id="class_is_learn1" name="is_learn" <if condition='$module_class[is_learn] eq 1'>checked</if> value="1" type="radio">
                        <input id="class_is_learn0" name="is_learn" <if condition='$module_class[is_learn] eq 0'>checked</if> value="0" type="radio">
                    </dd>
                </dl>
                <div class="bot">
                    <input type="hidden" name="type" value="{$type}">
                    <input type="hidden" name="class_id" value="{$module_class[id]}">
                    <a class="ncap-btn-big ncap-btn-green" onclick="updateModule('datapost2')">确认提交</a>
                    <a class="ncap-btn-big ncap-btn-red" onclick="delModuleClass('{$type}', '{$module_class[id]}')">删除分类</a>
                </div>
            </div>
        </form>
    </if>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>文章列表</h3>
                <h5>(共{$page->totalRows}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">ID</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 240px;" class="">标题</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 240px;" class="">副标题</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 80px;" class="">学习人数</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">分享人数</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">排序</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">推荐文章</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">学习类型</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">状态</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">添加时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">发布时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">更新时间</div>
                        </th>
                        <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 150px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <a href="{:U('School/article')}/type/{$type}/class_id/{$module_class[id]}">
                    <div class="fbutton">
                        <div title="添加文章" class="add">
                            <span><i class="fa fa-plus"></i>添加文章</span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <foreach name="article_list" item="vo" key="k" >
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 50px;">{$vo.id}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 240px;">
                                    <textarea style="width: 80%; height: 100%; line-height: 150%;" rows="3" disabled>{$vo.title}</textarea>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 240px;">
                                    <textarea style="width: 80%; height: 100%; line-height: 150%;" rows="3" disabled>{$vo.subtitle}</textarea>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">{$vo.learn}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">{$vo.share}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">
                                    <input type="text" onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                                           onpaste="this.value=this.value.replace(/[^\d]/g,'')"
                                           onblur="changeTableVal('school_article','id','{$vo.id}','sort',this)"
                                           size="4" value="{$vo.sort}" style="text-align: center;"/>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">
                                    <if condition='$vo[is_recommend] eq 1'>
                                        <span class="yes"
                                              onClick="changeTableVal('school_article','id','{$vo.id}','is_recommend',this)"><i
                                                class="fa fa-check-circle"></i>是</span>
                                        <else/>
                                        <span class="no"
                                              onClick="changeTableVal('school_article','id','{$vo.id}','is_recommend',this)"><i
                                                class="fa fa-ban"></i>否</span>
                                    </if>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$vo.learn_type_desc}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;
                                    <switch name='$vo[status]'>
                                        <case value='1'>
                                            color: green;
                                        </case>
                                        <case value='2'>
                                            color: blue;
                                        </case>
                                        <case value='3'>
                                            color: black;
                                        </case>
                                    </switch>
                                ">{$vo.status_desc}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$vo.add_time|date='Y-m-d H:i:s', ###}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">
                                        {$vo.publish_time|date='Y-m-d H:i:s', ###}
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">
                                    <if condition="!empty($vo[up_time])">
                                        {$vo.up_time|date='Y-m-d H:i:s', ###}
                                    </if>
                                </div>
                            </td>
                            <td align="left" class="handle">
                                <div style="text-align: left; width: 150px; max-width:150px;">
                                    <a class="btn blue" href="{:U('School/article')}/type/{$type}/class_id/{$module_class[id]}/article_id/{$vo[id]}"><i class="fa fa-pencil-square-o"></i>编辑</a>
                                    <a class="btn red del" onclick="delArticle('{$type}', '{$module_class[id]}', '{$vo[id]}')"><i class="fa fa-trash-o"></i>删除</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
        </div>
        {$page->show()}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // 点击刷新数据
        $('.fa-refresh').click(function () {
            location.href = location.href;
        });
    });

    function img_call_back(fileurl_tmp, elementid) {
        $("#" + elementid).val(fileurl_tmp);
        $("." + elementid).attr('src', fileurl_tmp);
    }

    function updateModule(postId) {
        $('#' + postId).submit();
    }

    function addModuleClass(module_id, module_type) {
        if (module_id == '') module_id = 0;
        var url = "{:U('Admin/School/addModuleClass')}/module_id/" + module_id + "/type/" + module_type;
        layer.open({
            type: 2,
            title: '站内信',
            shadeClose: true,
            shade: 0.8,
            area: ['580px', '480px'],
            content: url
        });
    }

    function addModuleClassCallback(module_type) {
        window.location.href = "{:U('Admin/School/')}" + module_type;
    }

    function delModuleClass(type, class_id) {
        layer.confirm('确认删除？（分类下的文章都会被删除）', {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: "POST",
                url: "{:U('Admin/School/delModuleClass')}",
                data: {'class_id': class_id},
                dataType: 'json',
                error: function (request) {
                    layer.msg("服务器繁忙, 请联系管理员!", {icon: 1, time: 2000});
                },
                success: function (data) {
                    if (data.status == 1) {
                        layer.msg(data.msg, {icon: 1, time: 2000}, function () {
                            window.location.href = "{:U('Admin/School/')}" + type;
                        });
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 2000});
                    }
                }
            });
        }, function () {
            console.log("取消");
        });
    }

    function delArticle(type, class_id, article_id) {
        layer.confirm('确认删除？', {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: "POST",
                url: "{:U('School/delArticle')}",
                data: {'type': type, 'class_id': class_id, 'article_id': article_id},
                dataType: "json",
                error: function () {
                    layer.alert("服务器繁忙, 请联系管理员!");
                },
                success: function (data) {
                    if (data.status === 1) {
                        var result = data.result;
                        layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                            location.href = "{:U('Admin/School/')}" + result.type + "/class_id/" + result.class_id;
                        });
                    } else if (data.status === 0) {
                        layer.msg(data.msg, {icon: 2, time: 1000});
                    }
                }
            });
        }, function () {
            console.log("取消");
        });
    }
</script>
</body>
</html>
