<include file="public/layout"/>
<style>
    .ys-btn-close {
        position: relative;
        top: -12px;
        left: -16px;
        width: 18px;
        height: 18px;
        border: 1px solid #ccc;
        line-height: 18px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        z-index: 1;
        background-color: #fff;
        cursor: pointer;
    }
    .selected-group-goods {
        background-color: #FFF;
        width: 162px;
        padding: 9px;
        margin-bottom: 10px;
        border: solid 1px #E6E6E6;
        box-shadow: 2px 2px 0 rgba(153,153,153,0.1);
    }
</style>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$module.name}</h3>
            </div>
        </div>
    </div>
    <form method="post" id="datapost1" action="/index.php/admin/School/{$type}" enctype="multipart/form-data" name="form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>模块名</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" name="name" value="{$module['name']}" style="text-align: center;">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>图标</label>
                </dt>
                <dd class="opt">
                    <div class="goods-thumb">
                        <img class="module_img" style="width: 90px;height: 90px" src="{$module[img]}"/>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <input type="hidden" id="module_img" name="img" value="{$module[img]}" class="type-file-text">
                        <input style="cursor: pointer;" type="button" name="button" value="选择上传..." class="type-file-button" onClick="GetUploadify(1,'module_img','school','img_call_back')">
                        <div style="clear: both;"></div>
                    </div>
                    <p class="notic">长120px，宽120px</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>排序</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="sort" value="{$module['sort']}" style="text-align: center; width: 10%;"
                           onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                           onpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>是否开启</label>
                </dt>
                <dd class="opt onoff">
                    <label for="module_is_open1" class="cb-enable <if condition='$module[is_open] eq 1'>selected</if>">开启</label>
                    <label for="module_is_open0" class="cb-disable <if condition='$module[is_open] eq 0'>selected</if>">隐藏</label>
                    <input id="module_is_open1" name="is_open" <if condition='$module[is_open] eq 1'>checked</if> value="1" type="radio">
                    <input id="module_is_open0" name="is_open" <if condition='$module[is_open] eq 0'>checked</if> value="0" type="radio">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>访问限制</label>
                </dt>
                <dd class="opt ctype">
                    <input name="distribute_level[]" type="checkbox" value="-1" <if condition="!empty($module['distribute_level']) && in_array(-1, $module['distribute_level'])">checked</if> ><label>禁止访问</label>
                    <input name="distribute_level[]" type="checkbox" value="0" <if condition="!empty($module['distribute_level']) && in_array(0, $module['distribute_level'])">checked</if> ><label>所有人</label>
                    <input name="distribute_level[]" type="checkbox" value="1" <if condition="!empty($module['distribute_level']) && in_array(1, $module['distribute_level'])">checked</if> ><label>普通会员</label>
                    <input name="distribute_level[]" type="checkbox" value="2" <if condition="!empty($module['distribute_level']) && in_array(2, $module['distribute_level'])">checked</if> ><label>VIP</label>
                    <input name="distribute_level[]" type="checkbox" value="3" <if condition="!empty($module['distribute_level']) && in_array(3, $module['distribute_level'])">checked</if> ><label>SVIP</label>
                </dd>
            </dl>
            <div class="bot">
                <input type="hidden" name="type" value="{$type}">
                <a class="ncap-btn-big ncap-btn-green" onclick="updateModule('datapost1')">确认提交</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });

    function img_call_back(fileurl_tmp, elementid) {
        $("#" + elementid).val(fileurl_tmp);
        $("." + elementid).attr('src', fileurl_tmp);
    }

    function updateModule(postId) {
        $('#' + postId).submit();
    }
</script>
</body>
</html>
