<include file="public/layout"/>
<style>
    .system_img_location {
        text-align: center;
        width: 120px;
        position: absolute;
        top: 15px;
        margin-left: 265px;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>商城设置</h3>
                <h5>分享设置</h5>
            </div>
            <ul class="tab-base nc-row">
                <foreach name="group_list" item="v" key="k">
                    <li><a href="{:U('System/index',['inc_type'=> $k])}" <if condition="$k==$inc_type">class="current"</if>><span>{$v}</span></a></li>
                </foreach>
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span></div>
        <ul>
            <li>分享设置</li>
        </ul>
    </div>
    <form method="post" id="handlepost" action="{:U('System/handle')}" enctype="multipart/form-data" name="form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="article_logo">文章分享封面</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="article_logo_a" target="_blank" class="nyroModal" rel="gal"
                               href="{$config.article_logo}">
                                <i id="article_logo_i" class="fa fa-picture-o"
                                   onmouseover="layer.tips('<img src={$config.article_logo}>',this,{tips: [1, '#fff']});"
                                   onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="article_logo" name="article_logo"
                                   value="{$config.article_logo}"
                                   class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file"
                                   onClick="GetUploadify(1,'article_logo','logo','img_call_back')" size="30"
                                   hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <span class="err"></span>
                    <p class="notic">文章链接分享的封面图</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>商品分享口令有效期</label>
                </dt>
                <dd class="opt">
                    <input name="goods_pwd_day" value="{$config.goods_pwd_day|default=1}" class="input-txt" type="text">
                    <p class="notic">天数</p>
                </dd>
            </dl>
            <div class="bot">
                <input type="hidden" name="inc_type" value="{$inc_type}">
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green"
                   onclick="document.form.submit()">确认提交</a>
            </div>
        </div>
    </form>
</div>
<div id="goTop">
    <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a>
    <a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a>
</div>
</body>
<script type="text/javascript">
    //网站图标
    function img_call_back(fileurl_tmp, elementid) {
        $("#" + elementid).val(fileurl_tmp);
        $("#" + elementid + '_a').attr('href', fileurl_tmp);
        $("#" + elementid + '_i').attr('onmouseover', "layer.tips('<img src=" + fileurl_tmp + ">',this,{tips: [1, '#fff']});");
    }
</script>
</html>
