<include file="public/layout"/>
<style>
    .ys-btn-close {
        position: relative;
        top: -12px;
        left: -16px;
        width: 18px;
        height: 18px;
        border: 1px solid #ccc;
        line-height: 18px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        z-index: 1;
        background-color: #fff;
        cursor: pointer;
    }
    .selected-group-goods {
        background-color: #FFF;
        width: 405px;
        padding: 9px;
        margin-bottom: 10px;
        border: solid 1px #E6E6E6;
        box-shadow: 2px 2px 0 rgba(153,153,153,0.1);
    }
    .type-file-file2 {
        width: 100px;
        height: 26px;
        position: absolute;
        top: 0px;
        right: 0px;
        opacity: 0;
        cursor: pointer;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>商城设置</h3>
                <h5>分享设置</h5>
            </div>
            <ul class="tab-base nc-row">
                <foreach name="group_list" item="v" key="k">
                    <li><a href="{:U('System/index',['inc_type'=> $k])}" <if condition="$k==$inc_type">class="current"</if>><span>{$v}</span></a></li>
                </foreach>
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span></div>
        <ul>
            <li>分享设置</li>
        </ul>
    </div>
    <form method="post" id="handlepost" action="{:U('System/handle')}" enctype="multipart/form-data" name="form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="article_logo">文章分享封面</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="article_logo_a" target="_blank" class="nyroModal" rel="gal"
                               href="{$config.article_logo}">
                                <i id="article_logo_i" class="fa fa-picture-o"
                                   onmouseover="layer.tips('<img src={$config.article_logo}>',this,{tips: [1, '#fff']});"
                                   onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="article_logo" name="article_logo"
                                   value="{$config.article_logo}"
                                   class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file"
                                   onClick="GetUploadify(1,'article_logo','logo','img_call_back')" size="30"
                                   hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <span class="err"></span>
                    <p class="notic">文章链接分享的封面图</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>商品分享口令有效期</label>
                </dt>
                <dd class="opt">
                    <input name="goods_pwd_day" value="{$config.goods_pwd_day|default=1}" class="input-txt" type="text">
                    <p class="notic">天数</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>商品分享码背景图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show" style="padding-left: 0px;">
                            <input type="button" name="button" value="选择上传..." class="type-file-button">
                            <input class="type-file-file2" onClick="GetUploadify(1,'share_goods','share','img_call_back2')" size="30" hidefocus="true" nc_type="change_site_logo">
                    </div>
                    <span class="err"></span>
                    <p class="notic">商品分享码背景图</p>
                    <div style="overflow: hidden;" id="share_goods">
                        <volist name="share_bg[goods]" id="goods">
                            <div style="float: left;margin-right: 20px">
                                <div class="ys-btn-close" style="top: 10px;left: 415px;">×</div>
                                <div class="selected-group-goods">
                                    <div class="goods-thumb">
                                        <input type="hidden" name="share_bg_goods[]" value="{$goods}">
                                        <img style="width: 405px;height: 504px" src="{$goods}"/>
                                    </div>
                                </div>
                            </div>
                        </volist>
                    </div>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>用户个人分享码背景图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show" style="padding-left: 0px;">
                        <input type="button" name="button" value="选择上传..." class="type-file-button">
                        <input class="type-file-file2" onClick="GetUploadify(1,'share_user','share','img_call_back2')" size="30" hidefocus="true" nc_type="change_site_logo">
                    </div>
                    <span class="err"></span>
                    <p class="notic">用户个人分享码背景图</p>
                    <div style="overflow: hidden;" id="share_user">
                        <volist name="share_bg[user]" id="user">
                            <div style="float: left;margin-right: 20px">
                                <div class="ys-btn-close" style="top: 10px;left: 415px;">×</div>
                                <div class="selected-group-goods">
                                    <div class="goods-thumb">
                                        <input type="hidden" name="share_bg_user[]" value="{$user}">
                                        <img style="width: 405px;height: 504px" src="{$user}"/>
                                    </div>
                                </div>
                            </div>
                        </volist>
                    </div>
                </dd>
            </dl>
            <div class="bot">
                <input type="hidden" name="inc_type" value="{$inc_type}">
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green"
                   onclick="document.form.submit()">确认提交</a>
            </div>
        </div>
    </form>
</div>
<div id="goTop">
    <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a>
    <a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(document).on("click", '.ys-btn-close', function (e) {
            $(this).parent().remove();
        })
    });

    function img_call_back(fileurl_tmp, elementid) {
        $("#" + elementid).val(fileurl_tmp);
        $("#" + elementid + '_a').attr('href', fileurl_tmp);
        $("#" + elementid + '_i').attr('onmouseover', "layer.tips('<img src=" + fileurl_tmp + ">',this,{tips: [1, '#fff']});");
    }

    function img_call_back2(fileurl_tmp, elementid) {
        switch (elementid) {
            case 'share_goods':
                var name = 'share_bg_goods[]';
                break;
            case 'share_user':
                var name = 'share_bg_user[]';
                break;
        }
        var div = '<div style="float: left;margin-right: 20px">' +
            '           <div class="ys-btn-close" style="top: 10px;left: 415px;">×</div>' +
            '               <div class="selected-group-goods">' +
            '                   <div class="goods-thumb">' +
            '                       <input type="hidden" name="' + name + '" value="' + fileurl_tmp + '">' +
            '                   <img style="width: 405px;height: 504px" src="' + fileurl_tmp + '"/>' +
            '                </div>' +
            '           </div>' +
            '      </div>';
        $('#' + elementid).append(div);
    }
</script>
</html>
