<include file="public/layout"/>
<style>
    dd.opt table {
        width: 100%;
    }

    dd.opt tr {
        border: 1px solid #f4f4f4;
        padding: 8px;
    }

    dd.opt tr td {
        border: 1px solid #f4f4f4;
    }

    .ys-btn-close {
        position: relative;
        top: -12px;
        left: -16px;
        width: 18px;
        height: 18px;
        border: 1px solid #ccc;
        line-height: 18px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        z-index: 1;
        background-color: #fff;
        cursor: pointer;
    }

    .selected-group-goods {
        background-color: #FFF;
        width: 162px;
        padding: 9px;
        margin-bottom: 10px;
        border: solid 1px #E6E6E6;
        box-shadow: 2px 2px 0 rgba(153, 153, 153, 0.1);
    }

</style>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.all.min.js"/>
<script type="text/javascript" charset="utf-8" src="__ROOT__/public/plugins/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<style type="text/css">
    html, body {
        overflow: visible;
    }
</style>

<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer"
     style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>订单促销管理 - 添加与编辑订单促销活动</h3>
                <h5>网站系统编辑订单促销活动</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post">
        <input type="hidden" name="id" value="{$info.id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>促销活动名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="title" id="title" value="{$info.title}" class="input-txt">
                    <p class="notic">促销活动名称</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>促销活动类型</label>
                </dt>
                <dd class="opt">
                    <select id="prom_type" name="type">
                        <option value="0"
                        <if condition="$info[type] eq 0">selected</if>
                        >赠品+满减</option>
                        <option value="1"
                        <if condition="$info[type] eq 1">selected</if>
                        >满减价</option>
                        <option value="2"
                        <if condition="$info[type] eq 2">selected</if>
                        >满赠送</option>
                    </select>
                    <p class="notic">促销活动类型</p>
                </dd>
            </dl>
            <dl class="row" id="buy_goods" style="display: none;">
                <dt class="tit">
                    <label><em>*</em>参与活动商品</label>
                </dt>
                <dd class="opt">
                    <div style="overflow: hidden;" id="selected_group_goods">
                        <volist name="buy_goods" id="goods">
                            <if condition="!$goods[SpecGoodsPrice]">
                                <div style="float: left;margin-right: 20px">
                                    <input type="hidden" name="buy_goods[{$goods.goods_id}_0][goods_id]"
                                           value="{$goods.goods_id}"/>
                                    <div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>
                                    <div class="selected-group-goods">
                                        <div class="goods-thumb">
                                            <img style="width: 162px;height: 162px" src="{$goods['goods_id']|goods_thum_images=162,162}"/>
                                        </div>
                                        <div class="goods-name">
                                            <a target="_blank"
                                               href="{:U('Home/Goods/goodsInfo',array('id'=>$goods['goods_id']))}">{$goods.goods_name}</a>
                                        </div>
                                        <div class="goods-price">商城价：￥{$goods.shop_price}库存:{$goods.store_count}</div>
                                    </div>
                                </div>
                                <else/>
                                <div style="float: left;margin-right: 20px">
                                    <input type="hidden"
                                           name="buy_goods[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}][goods_id]"
                                           value="{$goods.goods_id}"/>
                                    <div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>
                                    <div class="selected-group-goods">
                                        <div class="goods-thumb"><img style="width: 162px;height: 162px"
                                                                      src="{$goods[SpecGoodsPrice][spec_img]}"/></div>
                                        <div class="goods-name">
                                            <a target="_blank"
                                               href="{:U('Home/Goods/goodsInfo',array('id'=>$goods['goods_id'],'item_id'=>$goods[SpecGoodsPrice]['item_id']))}">{$goods.goods_name}{$goods[SpecGoodsPrice]['key_name']}</a>
                                        </div>
                                        <div class="goods-price">
                                            商城价：￥{$goods[SpecGoodsPrice]['price']}库存:{$goods[SpecGoodsPrice]['store_count']}
                                        </div>
                                    </div>
                                </div>
                            </if>
                        </volist>
                    </div>
                    <span class="err" id="err_goods" style="color:#F00;">请添加活动商品</span>
                    <p class="notic">
                        <a onclick="selectGoods()" class="ncap-btn"><i class="fa fa-search"></i>选择商品</a>
                    </p>
                </dd>
            </dl>
            <dl class="row" id="order_price">
                <dt class="tit">
                    <label><em>*</em>订单满足价格</label>
                </dt>
                <dd class="opt">
                    <input name="order_price" value="{$info.order_price|default=0.00}" type="text" class="input-txt"
                           onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"/>
                    <span class="err" id="err_order_price"></span>
                    <p class="notic">订单满足价格</p>
                </dd>
            </dl>
            <dl class="row" id="discount_price" style='<if condition="$info[type] eq 2">display:none</if>'>
                <dt class="tit">
                    <label><em>*</em>订单优惠价格</label>
                </dt>
                <dd class="opt">
                    <input name="discount_price" value="{$info.discount_price|default=0.00}" type="text"
                           class="input-txt" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"/>
                    <span class="err" id="err_discount_price"></span>
                    <p class="notic">订单优惠价格</p>
                </dd>
            </dl>
            <dl class="row" id="gift_goods" style='<if condition="$info[type] eq 1">display:none</if>'>
                <dt class="tit">
                    <label><em>*</em>赠送商品</label>
                </dt>
                <dd class="opt">
                    <div style="overflow: hidden;" id="selected_group_goods2">
                        <volist name="gift_goods" id="goods">
                            <if condition="!$goods[SpecGoodsPrice]">
                                <div style="float: left;margin-right: 20px">
                                    <input type="hidden" name="gift_goods[{$goods.goods_id}_0][goods_id]"
                                           value="{$goods.goods_id}"/>
                                    <div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>
                                    <div class="selected-group-goods">
                                        <div class="goods-thumb"><img style="width: 162px;height: 162px"
                                                                      src="{$goods['goods_id']|goods_thum_images=162,162}"/>
                                        </div>
                                        <div class="goods-name">
                                            <a target="_blank"
                                               href="{:U('Home/Goods/goodsInfo',array('id'=>$goods['goods_id']))}">{$goods.goods_name}</a>
                                        </div>
                                        <div class="goods-price">商城价：￥{$goods.shop_price}库存:{$goods.store_count}</div>
                                        数量：<input type="text" name="gift_goods[{$goods.goods_id}_0][goods_num]"
                                                  value="{$goods.goods_num}" style="width:80px;"/>
                                    </div>
                                </div>
                                <else/>
                                <div style="float: left;margin-right: 20px">
                                    <input type="hidden"
                                           name="gift_goods[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}][goods_id]"
                                           value="{$goods.goods_id}"/>
                                    <div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>
                                    <div class="selected-group-goods">
                                        <div class="goods-thumb"><img style="width: 162px;height: 162px"
                                                                      src="{$goods[SpecGoodsPrice][spec_img]}"/></div>
                                        <div class="goods-name">
                                            <a target="_blank"
                                               href="{:U('Home/Goods/goodsInfo',array('id'=>$goods['goods_id'],'item_id'=>$goods[SpecGoodsPrice]['item_id']))}">{$goods.goods_name}{$goods[SpecGoodsPrice]['key_name']}</a>
                                        </div>
                                        <div class="goods-price">
                                            商城价：￥{$goods[SpecGoodsPrice]['price']}库存:{$goods[SpecGoodsPrice]['store_count']}
                                        </div>
                                        数量：<input type="text"
                                                  name="gift_goods[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}]"
                                                  value="{$goods.goods_num}" style="width:80px;"/>
                                    </div>
                                </div>
                            </if>
                        </volist>
                    </div>
                    <span class="err" id="err_goods2" style="color:#F00;">请添加赠送商品</span>
                    <p class="notic">
                        <a onclick="selectGoods2()" class="ncap-btn"><i class="fa fa-search"></i>选择商品</a>
                    </p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>开始时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="start_time" name="start_time" value="{$info.start_time}" class="input-txt">
                    <p class="notic">开始时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>结束时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="end_time" name="end_time" value="{$info.end_time}" class="input-txt">
                    <p class="notic">结束时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>活动描述</label>
                </dt>
                <dd class="opt">
                    <textarea class="span12 ckeditor" placeholder="请输入活动介绍" id="post_content" name="description"
                              rows="6">{$info.description}</textarea>
                    <p class="notic">活动描述</p>
                </dd>
            </dl>
            <div class="bot"><a id="submit" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $(document).on("click", '#submit', function (e) {
            verifyForm();
        })
    });

    $(document).ready(function () {
        $("#type").trigger('change');
        $('#start_time').layDate();
        $('#end_time').layDate();
    });

    $("#prom_type").on("change", function () {
        var type = parseInt($("#prom_type").val());
        switch (type) {
            case 0: {
                $("#discount_price").show();
                $("#gift_goods").show();
                break;
            }
            case 1: {
                $("#discount_price").show();
                $("#gift_goods").hide();
                break;
            }
            case 2: {
                $("#discount_price").hide();
                $("#gift_goods").show();
                break;
            }
        }
    });

    function verifyForm() {
        $('span.err').hide();
        $.ajax({
            type: "POST",
            url: "{:U('Promotion/order_prom_save')}",
            data: $('#handleposition').serialize(),
            async: false,
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function () {
                        location.href = "{:U('Promotion/order_prom_list')}";
                    });
                } else {
                    layer.msg(data.msg, {icon: 2, time: 3000});
                    $.each(data.result, function (index, item) {
                        $('#err_' + index).text(item).show();
                    });
                }
            }
        });
    }

    function selGoodsCallBack(goodsItem) {
        var html = '';
        $.each(goodsItem, function (index, item) {
            if (item.goods_id != 'on') {
                if (item.spec != null) {
                    //有规格
                    $.each(item.spec, function (i, o) {
                        html += '<div style="float: left;margin-right: 20px"><div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>' +
                            '<input type="hidden" name="buy_goods[' + item.goods_id + '_' + o.item_id + '][goods_id]" value="' + item.goods_id + '"/>' +
                            '<div class="selected-group-goods"><div class="goods-thumb">' +
                            '<img style="width: 162px;height: 162px" src="' + item.spec_img + '"/></div> <div class="goods-name"> ' +
                            '<a target="_blank" href="/index.php?m=Home&c=Goods&a=goodsInfo&id=' + item.goods_id + '">' + item.goods_name + o.key_name + '</a> </div>' +
                            ' <div class="goods-price">商城价：￥' + o.price + '库存:' + o.store_count + '</div> </div> </div>';
                    });
                } else {
                    html += '<div style="float: left;margin-right: 20px"><div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>' +
                        '<input type="hidden" name="buy_goods[' + item.goods_id + '_0' + '][goods_id]" value="' + item.goods_id + '"/>' +
                        '<div class="selected-group-goods"><div class="goods-thumb">' +
                        '<img style="width: 162px;height: 162px" src="' + item.goods_image + '"/></div> <div class="goods-name"> ' +
                        '<a target="_blank" href="/index.php?m=Home&c=Goods&a=goodsInfo&id=' + item.goods_id + '">' + item.goods_name + '</a> </div>' +
                        ' <div class="goods-price">商城价：￥' + item.goods_price + '库存:' + item.store_count + '</div> </div> </div>';
                }
            }
        });
        $('#selected_group_goods').append(html);
        layer.closeAll('iframe');
    }

    function selGoodsCallBack2(goodsItem) {
        var html = '';
        $.each(goodsItem, function (index, item) {
            if (item.goods_id != 'on') {
                if (item.spec != null) {
                    //有规格
                    $.each(item.spec, function (i, o) {
                        html += '<div style="float: left;margin-right: 20px"><div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>' +
                            '<input type="hidden" name="gift_goods[' + item.goods_id + '_' + o.item_id + '][goods_id]" value="' + item.goods_id + '"/>' +
                            '<div class="selected-group-goods"><div class="goods-thumb">' +
                            '<img style="width: 162px;height: 162px" src="' + item.spec_img + '"/></div> <div class="goods-name"> ' +
                            '<a target="_blank" href="/index.php?m=Home&c=Goods&a=goodsInfo&id=' + item.goods_id + '">' + item.goods_name + o.key_name + '</a> </div>' +
                            ' <div class="goods-price">商城价：￥' + o.price + '库存:' + o.store_count + '</div> </div>数量：<input type="text" name="gift_goods[' + item.goods_id + '_' + o.item_id + '][goods_num]" value="1" style="width:80px;" /></div>';
                    });
                } else {
                    html += '<div style="float: left;margin-right: 20px"><div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>' +
                        '<input type="hidden" name="gift_goods[' + item.goods_id + '_0' + '][goods_id]" value="' + item.goods_id + '"/>' +
                        '<div class="selected-group-goods"><div class="goods-thumb">' +
                        '<img style="width: 162px;height: 162px" src="' + item.goods_image + '"/></div> <div class="goods-name"> ' +
                        '<a target="_blank" href="/index.php?m=Home&c=Goods&a=goodsInfo&id=' + item.goods_id + '">' + item.goods_name + '</a> </div>' +
                        ' <div class="goods-price">商城价：￥' + item.goods_price + '库存:' + item.store_count + '</div> 数量：<input type="text" name="gift_goods[' + item.goods_id + '_0' + '][goods_num]" value="1" style="width:80px;" /></div></div>';
                }
            }
        });
        $('#selected_group_goods2').append(html);
        layer.closeAll('iframe');
    }

    var url = "{:url('Admin/Ueditor/index', array('savePath'=>'activity'))}";
    var ue = UE.getEditor('post_content', {
        serverUrl: url,
        zIndex: 999,
        initialFrameWidth: "100%", //初化宽度
        initialFrameHeight: 350, //初化高度
        focus: false, //初始化时，是否让编辑器获得焦点true或false
        maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
        pasteplain: false, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
        autoHeightEnabled: true
    });

    function img_call_back(fileurl_tmp) {
        $("#prom_img").val(fileurl_tmp);
        $("#img_a").attr('href', fileurl_tmp);
        $("#img_i").attr('onmouseover', "layer.tips('<img src=" + fileurl_tmp + ">',this,{tips: [1, '#fff']});");
    }

    function selectGoods() {
        var url = "{:U('Promotion/search_goods', ['prom_type' => 7])}";
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.3,
            area: ['70%', '80%'],
            content: url,
        });
    }

    function selectGoods2() {
        var url = "{:U('Promotion/order_search_goods', ['types' => 2])}";
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.3,
            area: ['70%', '80%'],
            content: url,
        });
    }

    //商品删除按钮事件
    $(function () {
        $(document).on("click", '.ys-btn-close', function (e) {
            $(this).parent().remove();
        })
    })
</script>
</body>
</html>