<include file="public/layout"/>
<body style="background-color: #FFF; overflow: auto;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>品牌详情</h3>
                <h5>品牌添加与管理</h5>
            </div>
        </div>
    </div>
    <!--表单数据-->
    <form method="post" id="addEditBrandForm">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>品牌名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" placeholder="名称" class="input-txt" id="brand_name" name="name"
                           value="{$brand.name}">
                    <span class="err" id="err_name" style="color:#F00; display:none;"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>品牌网址</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" name="url" value="{$brand.url}">
                    <span class="err" id="err_url" style="color:#F00; display:none;"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>品牌logo</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="logo_img_a" target="_blank" class="nyroModal" rel="gal" href="{$brand.logo}">
                                <i id="logo_img_i" class="fa fa-picture-o"
                                   onmouseover="layer.tips('<img src={$brand.logo}>',this,{tips: [1, '#fff']});"
                                   onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="logo_img" name="logo" value="{$brand.logo}" class="type-file-text">
                            <input type="button" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'logo_img','brand','img_call_back')" size="30"
                                   hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <span class="err" id="err_logo" style="color:#F00; display:none;"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>品牌banner</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="banner_img_a" target="_blank" class="nyroModal" rel="gal" href="{$brand.banner}">
                                <i id="banner_img_i" class="fa fa-picture-o"
                                   onmouseover="layer.tips('<img src={$brand.banner}>',this,{tips: [1, '#fff']});"
                                   onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="banner_img" name="banner" value="{$brand.banner}" class="type-file-text">
                            <input type="button" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'banner_img','brand','img_call_back')" size="30"
                                   hidefocus="true" nc_type="change_site_banner" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <span class="err" id="err_banner" style="color:#F00; display:none;"></span>
                    <p class="notic">373px x 194px</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>排序</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$brand.sort}" name="sort" class="input-txt"
                           onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                           onpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                    <span class="err" id="err_sort"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>是否推荐</label>
                </dt>
                <dd class="opt onoff">
                    <label for="module_is_hot1" class="cb-enable <if condition='$brand[is_hot] eq 1'>selected</if>">是</label>
                    <label for="module_is_hot0" class="cb-disable <if condition='$brand[is_hot] eq 0'>selected</if>">否</label>
                    <input id="module_is_hot1" name="is_hot" <if condition='$brand[is_hot] eq 1'>checked</if> value="1" type="radio">
                    <input id="module_is_hot0" name="is_hot" <if condition='$brand[is_hot] eq 0'>checked</if> value="0" type="radio">
                    <p class="notic">显示在优选品牌页</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>品牌描述</label>
                </dt>
                <dd class="opt">
                    <textarea rows="4" cols="60" name="desc" class="input-txt">{$brand.desc}</textarea>
                    <span class="err" id="err_desc" style="color:#F00; display:none;"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <div class="bot">
                <a href="JavaScript:void(0);" onClick="verifyForm();" class="ncap-btn-big ncap-btn-green" id="submitBtn">
                    确认提交
                </a>
            </div>
        </div>
        <input type="hidden" name="id" value="{$brand.id}">
    </form>
</div>
<script>
    function verifyForm() {
        var name = $("#brand_name").val();
        if ($.trim(name) == '') {
            layer.msg('请输入名称', {icon: 2});
            return false;
        }
        $('span.err').show();
        $.ajax({
            type: "POST",
            url: "{:U('Goods/addEditBrand')}",
            data: $('#addEditBrandForm').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {icon: 1}, function () {
                        location.href = "{:U('Goods/brandList')}";
                    });
                } else {
                    layer.msg(data.msg, {icon: 2});
                    $.each(data.result, function (index, item) {
                        $('#err_' + index).text(item).show();
                    });
                }
            }
        });
    }

    function img_call_back(fileurl_tmp, elementid) {
        $("#" + elementid).val(fileurl_tmp);
        $("#" + elementid + '_a').attr('href', fileurl_tmp);
        $("#" + elementid + '_i').attr('onmouseover', "layer.tips('<img src=" + fileurl_tmp + ">',this,{tips: [1, '#fff']});");
    }
</script>
</body>
</html>
