<include file="public/layout"/>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>设置</h3>
            </div>
        </div>
    </div>
    <form method="post" id="datapost" action="{:U('Goods/goodsConfig')}" enctype="multipart/form-data" name="form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>促销商品宣传图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="recommend_publicize_img_a" target="_blank" class="nyroModal" rel="gal"
                               href="{$config.recommend_publicize.url}">
                                <i id="recommend_publicize_img_i" class="fa fa-picture-o"
                                   onmouseover="layer.tips('<img src={$config.recommend_publicize.url}>',this,{tips: [1, '#fff']});"
                                   onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="recommend_publicize_img" name="recommend_publicize[url]" value="{$config.recommend_publicize.url}" class="type-file-text">
                            <input type="button" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'recommend_publicize_img','goods','img_call_back')" size="30"
                                   hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <p class="notic">373px x 194px</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>新商品宣传图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="new_publicize_img_a" target="_blank" class="nyroModal" rel="gal"
                               href="{$config.new_publicize.url}">
                                <i id="new_publicize_img_i" class="fa fa-picture-o"
                                   onmouseover="layer.tips('<img src={$config.new_publicize.url}>',this,{tips: [1, '#fff']});"
                                   onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="new_publicize_img" name="new_publicize[url]" value="{$config.new_publicize.url}" class="type-file-text">
                            <input type="button" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'new_publicize_img','goods','img_call_back')" size="30"
                                   hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <p class="notic">373px x 194px</p>
                </dd>
            </dl>
            <div class="bot">
                <a class="ncap-btn-big ncap-btn-green" onclick="updateConfig('datapost')">确认提交</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // 点击刷新数据
        $('.fa-refresh').click(function () {
            location.href = location.href;
        });
    });

    function img_call_back(fileurl_tmp, elementid) {
        $("#" + elementid).val(fileurl_tmp);
        $("#" + elementid + '_a').attr('href', fileurl_tmp);
        $("#" + elementid + '_i').attr('onmouseover', "layer.tips('<img src=" + fileurl_tmp + ">',this,{tips: [1, '#fff']});");
    }

    function updateConfig(postId) {
        $('#' + postId).submit();
    }
</script>
</body>
</html>
