<table>
    <tbody>
    <if condition="empty($log_list) eq true">
        <tr data-id="0">
            <td class="no-data" align="center" axis="col0" colspan="50">
                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
            </td>
        </tr>
    <else/>
        <switch name="$type">
            <case value="1">
                <volist name="log_list" id="log">
                    <tr>
                        <td class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.payment_no}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.pay_type}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.price}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.freight_price}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.cost_price}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.total_price}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.creat_time}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.pay_time}</div>
                        </td>
                        <td style="width: 100%;">
                            <div></div>
                        </td>
                    </tr>
                </volist>
            </case>
            <case value="2">
                <volist name="log_list" id="log">
                    <tr>
                        <td class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.payment_no}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.pay_type}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 80px;" class="">{$log.freight_price}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 80px;" class="">{$log.consume_price}</div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 300px;" class="">
                                <textarea disabled style="width: 80%; height: 50%; line-height: 150%" rows="5">{$log.order}</textarea>
                            </div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 500px;" class="">
                                <textarea disabled style="width: 80%; height: 50%; line-height: 150%" rows="5">{$log.order_goods}</textarea>
                            </div>
                        </td>
                        <td align="center" class="">
                            <div style="text-align: center; width: 150px;" class="">{$log.creat_time}</div>
                        </td>
                        <td style="width: 100%;">
                            <div></div>
                        </td>
                    </tr>
                </volist>
            </case>
        </switch>
    </if>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right">{$page}</div>
</div>
<script>
    $(".pagination  a").click(function () {
        var page = $(this).data('p');
        ajax_get_table(page);
    });
</script>
