<include file="public/layout"/>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>配置</h3>
            </div>
        </div>
    </div>
    <form method="post" id="datapost" action="{:U('school.module/config')}" enctype="multipart/form-data" name="form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>官方账号</label>
                </dt>
                <dd class="opt">
                    <p class="notic">用户名</p>
                    <input type="text" class="input-txt" name="official[name]" value="{$config.official.name}">
                    <br/>
                    <p class="notic">头像</p>
                    <div class="input-file-show">
                        <span class="show">
                            <a id="official_img_a" target="_blank" class="nyroModal" rel="gal" href="{$config.official.url}">
                                <i id="official_img_i" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$config.official.url}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="official_img" name="official[url]" value="{$config.official.url}" class="type-file-text">
                            <input type="button" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'official_img','school','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>教学弹窗</label>
                </dt>
                </dt>
                <dd class="opt onoff">
                    <label for="popup_is_open1" class="cb-enable <if condition='isset($config[popup]) && $config[popup][content][is_open] eq 1'>selected</if>">开启</label>
                    <label for="popup_is_open0" class="cb-disable <if condition='isset($config[popup]) && $config[popup][content][is_open] eq 0'>selected</if>">隐藏</label>
                    <input id="popup_is_open1" name="popup[content][is_open]" <if condition='isset($config[popup]) && $config[popup][content][is_open] eq 1'>checked</if> value="1" type="radio">
                    <input id="popup_is_open0" name="popup[content][is_open]" <if condition='isset($config[popup]) && $config[popup][content][is_open] eq 0'>checked</if> value="0" type="radio">
                    <p class="notic">针对账号只会弹出一次</p>
                </dd>
            </dl>
            <dl class="row" id="video" style="<if condition='!isset($config[popup]) || (isset($config[popup]) && $config[popup][content][is_open] eq 0)'>display:none</if>">
                <dt class="tit">
                    <label>教学弹窗封面</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="popup_img_a" target="_blank" class="nyroModal" rel="gal" href="{$config.popup.url}">
                                <i id="popup_img_i" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$config.popup.url}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="popup_img" name="popup[url]" value="{$config.popup.url}" class="type-file-text">
                            <input type="button" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'popup_img','school','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <p class="notic">长885px，宽972px</p>
                </dd>
            </dl>
            <dl class="row" id="article" style="<if condition='!isset($config[popup]) || (isset($config[popup]) && $config[popup][content][is_open] eq 0)'>display:none</if>">
                <dt class="tit">
                    <label>教学弹窗跳转文章（当前热点）</label>
                </dt>
                <dd class="opt">
                    <select name="popup[content][article_id]" class="small form-control">
                        <option value="0">请选择跳转文章</option>
                        <foreach name="article_list" item="v" key="k">
                            <option value="{$v[id]}" <if condition="isset($config[popup]) && $config[popup][content][article_id] == $v[id]"> selected </if>>ID{$v.id}：{$v.title}</option>
                        </foreach>
                    </select>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>热门搜索词</label>
                    <br/>
                    <a class="ncap-btn" href="javascript:;" onclick="addKeyword()">增加</a>
                </dt>
                <dd class="opt">
                    <table style="width: 50%;">
                        <tr><th style="width:80%" colspan="4">词名</th><th>操作</th></tr>
                        <tbody id="keywords">
                        <volist name="keyword" id="vo" key="k">
                            <tr>
                                <td>
                                    <input name="keyword[{$k}][id]" type="hidden" value="{$vo[id]}">
                                    <input name="keyword[{$k}][click]" type="hidden" value="{$vo[click]}">
                                    <input name="keyword[{$k}][name]" type="text" value="{$vo[name]}" class="form-control" style="width:150px; text-align: center;">（搜索量：{$vo.click}）
                                </td>
                                <td>
                                    <div class="onoff">
                                        <label for="keyword[{$k}]_is_open1" class="cb-enable <if condition='$vo[is_open] eq 1'>selected</if>">显示</label>
                                        <label for="keyword[{$k}]_is_open0" class="cb-disable <if condition='$vo[is_open] eq 0'>selected</if>">隐藏</label>
                                        <input id="keyword[{$k}]_is_open1" name="keyword[{$k}][is_open]" <if condition='$vo[is_open] eq 1'>checked</if> value="1" type="radio">
                                        <input id="keyword[{$k}]_is_open0" name="keyword[{$k}][is_open]" <if condition='$vo[is_open] eq 0'>checked</if> value="0" type="radio">
                                    </div>
                                </td>
                                <td>
                                    <div class="onoff">
                                        <label for="keyword[{$k}]_is_hot1" class="cb-enable <if condition='$vo[is_hot] eq 1'>selected</if>">是热词</label>
                                        <label for="keyword[{$k}]_is_hot0" class="cb-disable <if condition='$vo[is_hot] eq 0'>selected</if>">不是</label>
                                        <input id="keyword[{$k}]_is_hot1" name="keyword[{$k}][is_hot]" <if condition='$vo[is_hot] eq 1'>checked</if> value="1" type="radio">
                                        <input id="keyword[{$k}]_is_hot0" name="keyword[{$k}][is_hot]" <if condition='$vo[is_hot] eq 0'>checked</if> value="0" type="radio">
                                    </div>
                                </td>
                                <td>排序<input name="keyword[{$k}][sort]" type="text" value="{$vo[sort]}" class="form-control" style="width:50px; text-align: center;"></td>
                                <td><a class="ncap-btn" onclick="delWord(2, this, {$vo[id]})">删除</a></td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>学习规则达标设置</label>
                    <br/>
                    <a class="ncap-btn" href="javascript:;" onclick="addStandard()">增加</a>
                </dt>
                <dd class="opt">
                    <table style="width: 60%;">
                        <tr><th>类型</th><th>APP等级</th><th>代理商等级</th><th>代理商职级</th><th>数量</th></tr>
                        <tbody id="standard">
                        <volist name="standard" id="vo" key="k">
                            <tr>
                                <td>
                                    <select name="standard[{$k}][type]">
                                        <option value="1" <if condition="$vo.type == 1"> selected </if>>课程数量</option>
                                        <option value="2" <if condition="$vo.type == 2"> selected </if>>乐活币数量</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="standard[{$k}][app_grade]">
                                        <volist name="app_grade" id="vo2" key="k2">
                                            <option value="{$key}" <if condition="$vo.app_grade == $key"> selected </if>>{$vo2}</option>
                                        </volist>
                                    </select>
                                </td>
                                <td>
                                    <select name="standard[{$k}][distribute_grade]">
                                        <option value="0" <if condition="$vo.distribute_grade == 0"> selected </if>>所有人</option>
                                        <volist name="svip_grade" id="vo2" key="k2">
                                            <option value="{$key}" <if condition="$vo.distribute_grade == $key"> selected </if>>{$vo2}</option>
                                        </volist>
                                    </select>
                                </td>
                                <td>
                                    <select name="standard[{$k}][distribute_level]">
                                        <option value="0" <if condition="$vo.distribute_level == 0"> selected </if>>所有人</option>
                                        <volist name="svip_level" id="vo2" key="k2">
                                            <option value="{$key}" <if condition="$vo.distribute_level == $key"> selected </if>>{$vo2}</option>
                                        </volist>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="standard[{$k}][num]" value="{$vo.num}" style="text-align: center" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
                                </td>
                                <td style="text-align: center;"><a class="ncap-btn" onclick="delStandard(this)">删除</a></td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <p class="notic">课程：设置了必修/选修，且发布中的文章</p>
                    <br/>
                    <a class="ncap-btn-big ncap-btn-orange" href="{:U('school.article/userCourseList')}"><span>学习课程用户列表</span></a>
                    <a class="ncap-btn-big ncap-btn-blue" href="{:U('school.article/userStandardList')}"><span>用户学习达标列表</span></a>
                    <a class="ncap-btn-big ncap-btn-green" href="{:U('school.article/userGraduateList')}"><span>用户结业情况</span></a>
                </dd>
            </dl>
            <div class="bot">
                <a class="ncap-btn-big ncap-btn-green" onclick="updateConfig('datapost')">确认提交</a>
            </div>
        </div>
    </form>
</div>
<div class="page">
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>轮播图列表</h3>
            </div>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 300px;" class="">图片</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">排序</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">是否开启</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">点击跳转模块</div>
                        </th>
                        <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 150px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <a href="{:U('school.module/rotate')}">
                    <div class="fbutton">
                        <div title="添加缩略图" class="add">
                            <span><i class="fa fa-plus"></i>添加缩略图</span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <foreach name="images" item="vo" key="k" >
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 300px;">
                                    <img src="{$vo.url}" width="300px" height="auto">
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">
                                    <input type="text" onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                                           onpaste="this.value=this.value.replace(/[^\d]/g,'')"
                                           onblur="changeTableVal('school_rotate','id','{$vo.id}','sort',this)"
                                           size="4" value="{$vo.sort}" style="text-align: center;"/>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">
                                    <if condition='$vo[is_open] eq 1'>
                                        <span class="yes"
                                              onClick="changeTableVal('school_rotate','id','{$vo.id}','is_open',this)"><i
                                              class="fa fa-check-circle"></i>是</span>
                                        <else/>
                                        <span class="no"
                                              onClick="changeTableVal('school_rotate','id','{$vo.id}','is_open',this)"><i
                                              class="fa fa-ban"></i>否</span>
                                    </if>
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;">
                                    {$vo.module_type}
                                </div>
                            </td>
                            <td align="left" class="handle">
                                <div style="text-align: left; width: 150px; max-width:150px;">
                                    <a class="btn blue" href="{:U('school.module/rotate', array('id'=>$vo[id]))}"><i class="fa fa-pencil-square-o"></i>编辑</a>
                                    <a class="btn red del" onclick="delRotate('{$vo[id]}')"><i class="fa fa-trash-o"></i>删除</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
        </div>
        {$page->show()}
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/public/oss/style.css"/>
<script type="text/javascript" src="/public/oss/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/public/oss/upload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        standard_count = {$standard_count};
        keyword_count = {$keyword_count};
        // 点击刷新数据
        $('.fa-refresh').click(function () {
            location.href = location.href;
        });
    });

    function img_call_back(fileurl_tmp, elementid) {
        $("#" + elementid).val(fileurl_tmp);
        $("#" + elementid + '_a').attr('href', fileurl_tmp);
        $("#" + elementid + '_i').attr('onmouseover', "layer.tips('<img src=" + fileurl_tmp + ">',this,{tips: [1, '#fff']});");
    }

    function addStandard() {
        standard_count += 1;
        var tr = '<tr>' +
            '         <td>' +
            '             <select name="standard[' + standard_count + '][type]">' +
            '                <option value="1">课程数量</option>' +
            '                <option value="2">乐活币数量</option>' +
            '             </select>' +
            '         </td>' +
            '         <td>' +
            '             <select name="standard[' + standard_count + '][app_grade]">' +
            '                <volist name="app_grade" id="vo2" key="k2">' +
            '                    <option value="{$key}">{$vo2}</option>' +
            '                </volist>' +
            '             </select>' +
            '         </td>' +
            '         <td>' +
            '             <select name="standard[' + standard_count + '][distribute_grade]">' +
            '                <option value="0">所有人</option>' +
            '                <volist name="svip_grade" id="vo2" key="k2">' +
            '                    <option value="{$key}">{$vo2}</option>' +
            '                </volist>' +
            '             </select>' +
            '         </td>' +
            '         <td>' +
            '             <select name="standard[' + standard_count + '][distribute_level]">' +
            '                <option value="0">所有人</option>' +
            '                <volist name="svip_level" id="vo2" key="k2">' +
            '                    <option value="{$key}">{$vo2}</option>' +
            '                </volist>' +
            '             </select>' +
            '         </td>' +
            '         <td>' +
            '             <input type="text" name="standard[' + standard_count + '][num]" value="" style="text-align: center" onpaste="this.value=this.value.replace(/[^\\d]/g,\'\')" onkeyup="this.value=this.value.replace(/[^\\d]/g,\'\')">' +
            '         </td>' +
            '         <td style="text-align: center;"><a class="ncap-btn" onclick="delStandard(this)">删除</a></td>' +
            '</tr>';
        $('#standard').append(tr);
    }

    function delStandard(obj) {
        $(obj).parent().parent().remove();
    }

    $('input[name="popup[content][is_open]"]').change(function () {
        switch (this.value) {
            case '0':
                $('#video').hide();
                $('#article').hide();
                break;
            case '1':
                $('#video').show();
                $('#article').show();
                break;
        }
    });

    function addKeyword() {
        keyword_count += 1;
        var tr = '<tr>' +
            '       <td>' +
            '           <input name="keyword[' + keyword_count + '][id]" type="hidden" value="0">' +
            '           <input name="keyword[' + keyword_count + '][click]" type="hidden" value="0">' +
            '           <input name="keyword[' + keyword_count + '][name]" type="text" value="" class="form-control" style="width:150px; text-align: center;">（搜索量：0）' +
            '       </td>' +
            '       <td>' +
            '           <div class="onoff">' +
            '               <label for="keyword[' + keyword_count + ']_is_open1" class="cb-enable selected">显示</label>' +
            '               <label for="keyword[' + keyword_count + ']_is_open0" class="cb-disable ">隐藏</label>' +
            '               <input id="keyword[' + keyword_count + ']_is_open1" name="keyword[' + keyword_count + '][is_open]" value="1" type="radio" checked>' +
            '               <input id="keyword[' + keyword_count + ']_is_open0" name="keyword[' + keyword_count + '][is_open]" value="0" type="radio">' +
            '            </div>' +
            '        </td>' +
            '        <td>' +
            '            <div class="onoff">' +
            '                <label for="keyword[' + keyword_count + ']_is_hot1" class="cb-enable selected">是热词</label>' +
            '                <label for="keyword[' + keyword_count + ']_is_hot0" class="cb-disable ">不是</label>' +
            '                <input id="keyword[' + keyword_count + ']_is_hot1" name="keyword[' + keyword_count + '][is_hot]" value="1" type="radio" checked>' +
            '                <input id="keyword[' + keyword_count + ']_is_hot0" name="keyword[' + keyword_count + '][is_hot]" value="0" type="radio">' +
            '            </div>' +
            '        </td>' +
            '        <td>排序<input name="keyword[' + keyword_count + '][sort]" type="text" value="0" class="form-control" style="width:50px; text-align: center;"></td>' +
            '        <td style="text-align: center;"><a class="ncap-btn" onclick="delWord(1, this)">删除</a></td>' +
            '     </tr>';
        $('#keywords').append(tr);
        $(".cb-enable").click(function () {
            var parent = $(this).parents('.onoff');
            $('.cb-disable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', true);
        });
        $(".cb-disable").click(function () {
            var parent = $(this).parents('.onoff');
            $('.cb-enable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', false);
        });
    }

    function delWord(type, obj, id = '') {
        switch (type) {
            case 1:
                $(obj).parent().parent().remove();
                break;
            case 2:
                layer.confirm('确认删除？', {btn: ['确定', '取消']}, function (index) {
                    layer.close(index);
                    $.ajax({
                        type: 'POST',
                        url: "{:U('school.module/delKeyword')}",
                        data: {id:id},
                        success: function () {
                            $(obj).parent().parent().remove();
                        }
                    });
                }, function (index) {
                    // 取消
                    layer.close(index);
                });
                break;
        }
    }

    function updateConfig(postId) {
        $('#' + postId).submit();
    }

    function delRotate(id) {
        layer.confirm('确认删除？', {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: "POST",
                url: "{:U('school.module/delRotate')}",
                data: {'id': id},
                dataType: "json",
                error: function () {
                    layer.alert("服务器繁忙, 请联系管理员!");
                },
                success: function (data) {
                    if (data.status === 1) {
                        var result = data.result;
                        layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                            location.href = "{:U('school.module/config')}";
                        });
                    } else if (data.status === 0) {
                        layer.msg(data.msg, {icon: 2, time: 1000});
                    }
                }
            });
        }, function () {
            console.log("取消");
        });
    }
</script>
</body>
</html>
