<include file="public/layout"/>
<style>
    .ys-btn-close {
        position: relative;
        top: -12px;
        left: -16px;
        width: 18px;
        height: 18px;
        border: 1px solid #ccc;
        line-height: 18px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        z-index: 1;
        background-color: #fff;
        cursor: pointer;
    }
    .selected-group-goods {
        background-color: #FFF;
        width: 162px;
        padding: 9px;
        margin-bottom: 10px;
        border: solid 1px #E6E6E6;
        box-shadow: 2px 2px 0 rgba(153,153,153,0.1);
    }
</style>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$module.name}</h3>
            </div>
        </div>
    </div>
    <form method="post" id="datapost1" action="/index.php/admin/school.module/{$type}" enctype="multipart/form-data" name="form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>模块名</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" name="name" value="{$module['name']}" style="text-align: center;">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>模块描述</label>
                </dt>
                <dd class="opt">
                    <textarea name="desc" style="width: 20%; height: 100%; line-height: 150%;" rows="2">{$module.desc}</textarea>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>图标</label>
                </dt>
                <dd class="opt">
                    <div class="goods-thumb">
                        <img class="module_img" style="width: 90px;height: 90px" src="{$module[img]}"/>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <input type="hidden" id="module_img" name="img" value="{$module[img]}" class="type-file-text">
                        <input style="cursor: pointer;" type="button" name="button" value="选择上传..." class="type-file-button" onClick="GetUploadify(1,'module_img','school','img_call_back')">
                        <div style="clear: both;"></div>
                    </div>
                    <p class="notic">长150px，宽150px</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>排序</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="sort" value="{$module['sort']}" style="text-align: center; width: 10%;"
                           onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                           onpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>是否开启</label>
                </dt>
                <dd class="opt onoff">
                    <label for="module_is_open1" class="cb-enable <if condition='$module[is_open] eq 1'>selected</if>">开启</label>
                    <label for="module_is_open0" class="cb-disable <if condition='$module[is_open] eq 0'>selected</if>">隐藏</label>
                    <input id="module_is_open1" name="is_open" <if condition='$module[is_open] eq 1'>checked</if> value="1" type="radio">
                    <input id="module_is_open0" name="is_open" <if condition='$module[is_open] eq 0'>checked</if> value="0" type="radio">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>APP访问等级</label>
                </dt>
                <dd class="opt ctype">
                    <input name="app_grade[]" type="checkbox" value="0" <if condition="!empty($module['app_grade']) && in_array(0, $module['app_grade'])">checked</if> ><label>所有人</label>
                    <foreach name="app_grade" item="v" key="k">
                        <input name="app_grade[]" type="checkbox" value="{$k}" <if condition="!empty($module['app_grade']) && in_array($k, $module['app_grade'])">checked</if> ><label>{$v}</label>
                    </foreach>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>代理商访问等级</label>
                </dt>
                <dd class="opt ctype">
                    <input name="distribute_grade[]" type="checkbox" value="0" <if condition="!empty($module['distribute_grade']) && in_array(0, $module['distribute_grade'])">checked</if> ><label>所有人</label>
                    <foreach name="svip_grade" item="v" key="k">
                        <input name="distribute_grade[]" type="checkbox" value="{$k}" <if condition="!empty($module['distribute_grade']) && in_array($k, $module['distribute_grade'])">checked</if> ><label>{$v}</label>
                    </foreach>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>代理商访问职级</label>
                </dt>
                <dd class="opt ctype">
                    <input name="distribute_level[]" type="checkbox" value="0" <if condition="!empty($module['distribute_level']) && in_array(0, $module['distribute_level'])">checked</if> ><label>所有人</label>
                    <foreach name="svip_level" item="v" key="k">
                        <input name="distribute_level[]" type="checkbox" value="{$k}" <if condition="!empty($module['distribute_level']) && in_array($k, $module['distribute_level'])">checked</if> ><label>{$v}</label>
                    </foreach>
                </dd>
            </dl>
            <div class="bot">
                <input type="hidden" name="type" value="{$type}">
                <a class="ncap-btn-big ncap-btn-green" onclick="updateModule('datapost1')">确认提交</a>
            </div>
        </div>
    </form>
</div>
<div class="page">
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>商品列表</h3>
            </div>
        </div>
    </div>
    <form method="post" id="datapost2" action="{:U('school.module/addExchange')}" enctype="multipart/form-data" name="form">
        <div class="ncap-form-default">
            <dl class="row">
                <dd class="opt">
                    <div style="overflow: hidden;" id="selected_group_goods">
                        <volist name="exchange" id="goods">
                            <empty name="goods[SpecGoodsPrice]">
                                <div style="float: left;margin-right: 20px">
                                    <input type="hidden" name="item[{$goods.goods_id}_0][goods_id]" value="{$goods.goods_id}"/>
                                    <div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>
                                    <div class="selected-group-goods">
                                        <div class="goods-thumb"><img style="width: 162px;height: 162px" src="{$goods['goods_id']|goods_thum_images=162,162}"/></div>
                                        <div class="goods-name">
                                            <a target="_blank" href="{:U('Admin/Goods/addEditGoods',array('id'=>$goods['goods_id']))}">{$goods.goods_name}</a>
                                        </div>
                                        <div class="goods-price">
                                            库存:{$goods.store_count}
                                            <br/>
                                            乐活豆:<input type="text" value="{$goods.credit}" name="item[{$goods.goods_id}_0][credit]"
                                                       onKeyUp="this.value=this.value.replace(/[^.\d]/g,'')"
                                                       onpaste="this.value=this.value.replace(/[^.\d]/g,'')"/>
                                            <br/>
                                            排序:<input type="text" value="{$goods.sort}" name="item[{$goods.goods_id}_0][sort]"
                                                      onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                                                      onpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="opt onoff">
                                                <label for="item[{$goods.goods_id}_0]_is_open1" class="cb-enable <if condition='$goods[is_open] eq 1'>selected</if>">开启</label>
                                                <label for="item[{$goods.goods_id}_0]_is_open0" class="cb-disable <if condition='$goods[is_open] eq 0'>selected</if>">隐藏</label>
                                                <input id="item[{$goods.goods_id}_0]_is_open1" name="item[{$goods.goods_id}_0][is_open]" <if condition='$goods[is_open] eq 1'>checked</if> value="1" type="radio">
                                                <input id="item[{$goods.goods_id}_0]_is_open0" name="item[{$goods.goods_id}_0][is_open]" <if condition='$goods[is_open] eq 0'>checked</if> value="0" type="radio">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <else/>
                                <div style="float: left;margin-right: 20px">
                                    <input type="hidden" name="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}][goods_id]" value="{$goods.goods_id}"/>
                                    <input type="hidden" name="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}][item_id]" value="{$goods[SpecGoodsPrice]['item_id']}"/>
                                    <div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>
                                    <div class="selected-group-goods">
                                        <div class="goods-thumb">
                                            <img style="width: 162px;height: 162px"
                                            <notempty name="$goods[SpecGoodsPrice][spec_img]">
                                                src="{$goods[SpecGoodsPrice][spec_img]}"
                                                <else/>
                                                src="{$goods['goods_id']|goods_thum_images=162,162}"
                                            </notempty>
                                            />
                                        </div>
                                        <div class="goods-name">
                                            <a target="_blank"
                                               href="{:U('Admin/Goods/addEditGoods',array('id'=>$goods['goods_id'],'item_id'=>$goods[SpecGoodsPrice]['item_id']))}">{$goods.goods_name}{$goods[SpecGoodsPrice]['key_name']}</a>
                                        </div>
                                        <div class="goods-price">
                                            库存:{$goods.store_count}
                                            <br/>
                                            乐活豆:<input type="text" value="{$goods.credit}" name="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}][credit]"
                                                       onKeyUp="this.value=this.value.replace(/[^.\d]/g,'')"
                                                       onpaste="this.value=this.value.replace(/[^.\d]/g,'')"/>
                                            <br/>
                                            排序:<input type="text" value="{$goods.sort}" name="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}][sort]"
                                                      onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                                                      onpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="opt onoff">
                                                <label for="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}]_is_open1" class="cb-enable <if condition='$goods[is_open] eq 1'>selected</if>">开启</label>
                                                <label for="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}]_is_open0" class="cb-disable <if condition='$goods[is_open] eq 0'>selected</if>">隐藏</label>
                                                <input id="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}]_is_open1" name="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}][is_open]" <if condition='$goods[is_open] eq 1'>checked</if> value="1" type="radio">
                                                <input id="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}]_is_open0" name="item[{$goods.goods_id}_{$goods[SpecGoodsPrice]['item_id']}][is_open]" <if condition='$goods[is_open] eq 0'>checked</if> value="0" type="radio">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </empty>
                        </volist>
                    </div>
                    <span class="err" id="err_goods" style="color:#F00; display:none;">请添加优惠商品</span>
                    <p class="notic">
                        <a onclick="selectGoods()" class="ncap-btn"><i class="fa fa-search"></i>选择商品</a>
                    </p>
                </dd>
            </dl>
            <div class="bot">
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="updateModule('datapost2')">确认提交</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", '.ys-btn-close', function (e) {
            $(this).parent().remove();
        })
    });

    function img_call_back(fileurl_tmp, elementid) {
        $("#" + elementid).val(fileurl_tmp);
        $("." + elementid).attr('src', fileurl_tmp);
    }

    function updateModule(postId) {
        $('#' + postId).submit();
    }

    function selectGoods() {
        var url = "{:U('Goods/search_goods',array('tpl'=>'search_goods'))}";
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
    }

    function selGoodsCallBack(goodsItem) {
        var html = '';
        $.each(goodsItem, function (index, item) {
            if (item.goods_id != 'on') {
                if (item.spec != null) {
                    //有规格
                    $.each(item.spec, function (i, o) {
                        html += '<div style="float: left;margin-right: 20px"><div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>' +
                            '<input type="hidden" name="item[' + item.goods_id + '_' + o.item_id + '][goods_id]" value="' + item.goods_id + '"/>' +
                            '<input type="hidden" name="item[' + item.goods_id + '_' + o.item_id + '][item_id]" value="' + o.item_id + '"/>' +
                            '<div class="selected-group-goods"><div class="goods-thumb">' +
                            '<img style="width: 162px;height: 162px" src="' + o.spec_img + '"/></div> <div class="goods-name"> ' +
                            '<a target="_blank" href="/index.php?m=Home&c=Goods&a=goodsInfo&id=' + item.goods_id + '">' + item.goods_name + o.key_name + '</a> </div>' +
                            '<div class="goods-price">' +
                            '库存:{$goods.store_count}' +
                            '<br/>' +
                            '乐活豆:<input type="text" value="100.00" name="item[' + item.goods_id + '_' + o.item_id + '][credit]" onKeyUp="this.value=this.value.replace(/[^.\\d]/g,\'\')" onpaste="this.value=this.value.replace(/[^.\\d]/g,\'\')"/>' +
                            '<br/>' +
                            '排序:<input type="text" value="50" name="item[' + item.goods_id + '_' + o.item_id + '][sort]" onKeyUp="this.value=this.value.replace(/[^\\d]/g,\'\')" onpaste="this.value=this.value.replace(/[^\\d]/g,\'\')"/>' +
                            '</div>' +
                            '<div class="row" style="margin-top: 10px;">' +
                            '   <div class="opt onoff">' +
                            '       <label for="item[' + item.goods_id + '_' + o.item_id + ']_is_open1" class="cb-enable selected">开启</label>' +
                            '       <label for="item[' + item.goods_id + '_' + o.item_id + ']_is_open0" class="cb-disable ">隐藏</label>' +
                            '       <input id="item[' + item.goods_id + '_' + o.item_id + ']_is_open1"  name="item[' + item.goods_id + '_' + o.item_id + '][is_open]" checked value="1" type="radio">' +
                            '       <input id="item[' + item.goods_id + '_' + o.item_id + ']_is_open0"  name="item[' + item.goods_id + '_' + o.item_id + '][is_open]" value="0" type="radio">' +
                            '   </div>' +
                            '</div>' +
                            '</div></div>';
                    });
                } else {
                    html += '<div style="float: left;margin-right: 20px"><div class="ys-btn-close" style="top: 15px;left: 172px;">×</div>' +
                        '<input type="hidden" name="item[' + item.goods_id + '_0][goods_id]" value="' + item.goods_id + '"/>' +
                        '<div class="selected-group-goods"><div class="goods-thumb">' +
                        '<img style="width: 162px;height: 162px" src="' + item.goods_image + '"/></div> <div class="goods-name"> ' +
                        '<a target="_blank" href="/index.php?m=Home&c=Goods&a=goodsInfo&id=' + item.goods_id + '">' + item.goods_name + '</a> </div>' +
                        '<div class="goods-price">' +
                        '库存:{$goods.store_count}' +
                        '<br/>' +
                        '乐活豆:<input type="text" value="100.00" name="item[' + item.goods_id + '_0][credit]" onKeyUp="this.value=this.value.replace(/[^.\\d]/g,\'\')" onpaste="this.value=this.value.replace(/[^.\\d]/g,\'\')"/>' +
                        '<br/>' +
                        '排序:<input type="text" value="50" name="item[' + item.goods_id + '_0][sort]" onKeyUp="this.value=this.value.replace(/[^\\d]/g,\'\')" onpaste="this.value=this.value.replace(/[^\\d]/g,\'\')"/>' +
                        '</div>' +
                        '<div class="row" style="margin-top: 10px;">' +
                        '   <div class="opt onoff">' +
                        '       <label for="item[' + item.goods_id + '_0]_is_open1" class="cb-enable selected">开启</label>' +
                        '       <label for="item[' + item.goods_id + '_0]_is_open0" class="cb-disable ">隐藏</label>' +
                        '       <input id="item[' + item.goods_id + '_0]_is_open1"  name="item[' + item.goods_id + '_0][is_open]" checked value="1" type="radio">' +
                        '       <input id="item[' + item.goods_id + '_0]_is_open0"  name="item[' + item.goods_id + '_0][is_open]" value="0" type="radio">' +
                        '   </div>' +
                        '</div>' +
                        '</div></div>';
                }
            }
        });
        $('#selected_group_goods').append(html);
        layer.closeAll('iframe');
        $(".cb-enable").click(function () {
            var parent = $(this).parents('.onoff');
            $('.cb-disable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', true);
        });
        $(".cb-disable").click(function () {
            var parent = $(this).parents('.onoff');
            $('.cb-enable', parent).removeClass('selected');
            $(this).addClass('selected');
            $('.checkbox', parent).attr('checked', false);
        });
    }
</script>
</body>
</html>
