<include file="public/layout" />
<script type="text/javascript" src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>用户结业情况</h3>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>
                <!--说明：-->
                <!--<br/>-->
                <!--<p style="color: red;">“达标等级”不能进行搜索（因为技术上涉及到列表分页，达标等级是动态生成），只能进行导出</p>-->
            </li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h5>(共{$page->totalRows}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
        </div>
        <form class="navbar-form form-inline" id="search-form" action="{:U('school.article/userGraduateList')}" method="post">
            <div class="sDiv">
                <div class="sDiv2">
                    <select name="module_id">
                        <option value="">所属模块</option>
                        <volist name="module_list" id="vo" key="k">
                            <option value="{$key}" <if condition="$module_id == $key">selected</if>>{$vo}</option>
                        </volist>
                    </select>
                </div>
                <div class="sDiv2">
                    <select name="class_id">
                        <option value="">所属分类</option>
                        <if condition="!empty($class_list)">
                            <volist name="class_list" id="vo" key="k">
                                <option value="{$key}" <if condition="$class_id == $key">selected</if>>{$vo}</option>
                            </volist>
                        </if>
                    </select>
                </div>
            </div>
            <div class="sDiv">
                <div class="sDiv2">
                    <select name="app_grade">
                        <option value="">APP等级</option>
                        <volist name="app_grade" id="vo" key="k">
                            <option value="{$key}" <if condition="$select_app_grade == $key">selected</if>>{$vo}</option>
                        </volist>
                    </select>
                </div>
                <div class="sDiv2">
                    <select name="svip_grade">
                        <option value="">代理商等级</option>
                        <volist name="svip_grade" id="vo" key="k">
                            <option value="{$key}" <if condition="$select_svip_grade == $key">selected</if>>{$vo}</option>
                        </volist>
                    </select>
                </div>
                <div class="sDiv2">
                    <select name="svip_level">
                        <option value="">代理商职级</option>
                        <volist name="svip_level" id="vo" key="k">
                            <option value="{$key}" <if condition="$select_svip_level == $key">selected</if>>{$vo}</option>
                        </volist>
                    </select>
                </div>
                <div class="sDiv2">
                    <input type="text" size="30" name="user_id" value="{$user_id}" class="qsbox" placeholder="用户ID">
                </div>
                <div class="sDiv2">
                    <input type="text" size="30" name="user_name" value="{$user_name}" class="qsbox" placeholder="用户名">
                </div>
                <div class="sDiv2">
                    <input type="text" size="30" name="nickname" value="{$nickname}" class="qsbox" placeholder="用户昵称">
                </div>
                <div class="sDiv2">
                    <input type="text" size="30" id="activate_time_from" name="activate_time_from" value="{$activate_time_from}" class="qsbox" placeholder="激活时间段-开始">
                </div>
                <div class="sDiv2">
                    <input type="text" size="30" id="activate_time_to" name="activate_time_to" value="{$activate_time_to}" class="qsbox" placeholder="激活时间段-结束">
                </div>
                <div class="sDiv2">
                    <input type="text" size="30" id="upgrade_time_from" name="upgrade_time_from" value="{$upgrade_time_from}" class="qsbox" placeholder="升级时间段-开始">
                </div>
                <div class="sDiv2">
                    <input type="text" size="30" id="upgrade_time_to" name="upgrade_time_to" value="{$upgrade_time_to}" class="qsbox" placeholder="升级时间段-结束">
                </div>
            </div>
            <div class="sDiv">
                <input type="hidden" name="is_export" value="0">
                <div class="sDiv2">
                    <input type="submit" class="btn" value="搜索">
                </div>
                <div class="sDiv2">
                    <input type="button" class="btn" onclick="listExport()" value="后台导出">
                </div>
                <div class="sDiv2">
                    <input type="button" class="btn" onclick="exportList()" value="后台导出文件列表">
                </div>
            </div>
        </form>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="coupon_name" axis="col3" class="">
                            <div style="text-align: center; width: 80px;" class="">用户ID</div>
                        </th>
                        <th align="left" abbr="coupon_name" axis="col3" class="">
                            <div style="text-align: center; width: 150px;" class="">用户昵称</div>
                        </th>
                        <th align="left" abbr="coupon_name" axis="col3" class="">
                            <div style="text-align: center; width: 150px;" class="">用户名</div>
                        </th>
                        <th align="left" abbr="send_type" axis="col4" class="">
                            <div style="text-align: center; width: 120px;" class="">APP等级</div>
                        </th>
                        <th align="left" abbr="send_type" axis="col4" class="">
                            <div style="text-align: center; width: 120px;" class="">代理商等级</div>
                        </th>
                        <th align="left" abbr="send_type" axis="col4" class="">
                            <div style="text-align: center; width: 120px;" class="">代理商职级</div>
                        </th>
                        <th align="left" abbr="send_type" axis="col4" class="">
                            <div style="text-align: center; width: 120px;" class="">课程数量</div>
                        </th>
                        <th align="left" abbr="send_type" axis="col4" class="">
                            <div style="text-align: center; width: 120px;" class="">乐活豆数量</div>
                        </th>
                        <th align="left" abbr="send_type" axis="col4" class="">
                            <div style="text-align: center; width: 80px;" class="">是否已结业</div>
                        </th>
                        <th align="left" abbr="send_type" axis="col4" class="">
                            <div style="text-align: center; width: 150px;" class="">211系统激活时间</div>
                        </th>
                        <th align="left" abbr="send_type" axis="col4" class="">
                            <div style="text-align: center; width: 150px;" class="">211系统升级代理商时间</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <foreach name="list" item="vo" key="k" >
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">
                                    <a target="_blank" href="{:U('Admin/User/detail',array('id'=>$vo['user_id']))}">
                                        {$vo.user_id}
                                    </a>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 150px;">{$vo.nickname}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 150px;">{$vo.user_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$vo.app_grade_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$vo.svip_grade_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$vo.svip_level_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">
                                    <if condition="$vo[course_num] GT 0">
                                        <a href="/index.php/Admin/school.article/userCourseArticleList/user_id/{$vo.user_id}/module_id/{$module_id}/class_id/{$class_id}" style="text-decoration: underline; font-weight: bold;">{$vo.course_num}</a>
                                    <else/>
                                        {$vo.course_num}
                                    </if>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$vo.school_credit}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">
                                    <if condition="$vo[is_graduate] == 1">
                                        <span style="color: green">已结业</span>
                                    <else/>
                                        <span style="color: red">未结业</span>
                                    </if>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 150px;">
                                    <if condition="$vo[svip_activate_time] != 0">
                                        {$vo.svip_activate_time|date='Y-m-d H:i:s', ###}
                                    </if>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 150px;">
                                    <if condition="$vo[svip_upgrade_time] != 0">
                                        {$vo.svip_upgrade_time|date='Y-m-d H:i:s', ###}
                                    </if>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp</div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$page->show()}
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#activate_time_from').layDate();
        $('#activate_time_to').layDate();
        $('#upgrade_time_from').layDate();
        $('#upgrade_time_to').layDate();

        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function () {
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function () {
            location.href = "{:U('school.article/userGraduateList')}";
        });
    });

    $('select[name="module_id"]').change(function () {
        if (this.value === '') {
            $('select[name="class_id"]').html('<option value="">所属分类</option>');
        } else {
            $.ajax({
                type: "GET",
                url: "{:U('school.module/getClass')}",
                data: {module_id: this.value, is_learn: 1},
                dataType: 'json',
                success: function (data) {
                    option = '<option value="">所属分类</option>';
                    $.each(data.res, function (index, item) {
                        option = option + '<option value="' + item.id + '">' + item.name + '</option>';
                    });
                    $('select[name="class_id"]').html(option);
                },
                error: function (request) {
                    layer.msg("服务器繁忙, 请联系管理员!", {icon: 1, time: 2000});
                }
            });
        }
    });

    function listExport() {
        layer.confirm('确定导出？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $('input[name="is_export"]').val('1');
            $.ajax({
                type: "POST",
                url: "{:U('school.article/userGraduateList')}",
                data: $('#search-form').serialize(),
                dataType: 'json',
                success: function (data) {
                    layer.alert(data.msg, {icon: 1, time: 2000});
                }
            });
            $('input[name="is_export"]').val('0');
        }, function () {
            console.log("取消");
        });
    }

    function exportList() {
        var url = "{:U('Export/fileList')}/type/school_user_graduate";
        layer.open({
            type: 2,
            title: '导出列表',
            shadeClose: true,
            shade: 0.8,
            area: ['800px', '600px'],
            content: url
        });
    }
</script>
</body>
</html>
