<include file="public/layout" />
<style>
    .err{color:#F00; display:none;}
</style>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>公告管理</h3>
                <h5>网站系统公告详情页</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post">
        <input type="hidden" name="announce_id" value="{$announce_info.id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>公告标题</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="title" id="title" value="{$announce_info.title}" class="input-txt">
                    <span class="err" id="err_title"></span>
                    <p class="notic">请填写公告标题</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>公告类型</label>
                </dt>
                <dd class="opt">
                    <select id="prom_type" name="type">
                        <option value="0">请选择</option>
                        <option value="1" <if condition="$announce_info[type] eq 1">selected</if>>商品活动</option>
                        <option value="2" <if condition="$announce_info[type] eq 2">selected</if>>系统消息</option>
                    </select>
                    <p class="notic">公告类型</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择公告商品</label>
                </dt>
                <dd class="opt">
                    <input type="hidden" id="goods_id" name="goods_id" readonly value="{$announce_info.goods_id}" class="input-txt">
                    <input type="hidden" id="item_id" name="item_id" readonly value="{$announce_info.item_id}" class="input-txt">
                    <input type="text" id="goods_name" name="goods_name" readonly value="{$announce_info.goods_name}" class="input-txt">
                    <div style="overflow: hidden" id="selected_group_goods">
                        <if condition="$announce_info['goods_id'] gt 0">
                            <div style="float: left;margin-right: 10px" class="selected-group-goods">
                                <div class="goods-thumb">
                                    <img style="width: 162px;height: 162px"  <notempty name="announce_info['specGoodsPrice']">src="{$announce_info['specGoodsPrice']['spec_img']}"<else/>src="{$announce_info['goods_id']|goods_thum_images=162,162}"</notempty>/>
                                </div>
                                <div class="goods-name">
                                    <a target="_blank" href="{:U('Home/Goods/goodsInfo',array('id'=>$announce_info['goods_id']))}">{$announce_info.goods_name}</a>
                                </div>
                                <div class="goods-price">
                                    <notempty name="announce_info['specGoodsPrice']">
                                        商城价：￥{$announce_info['specGoodsPrice']['price']}库存:{$announce_info['specGoodsPrice']['store_count']}
                                        <else/>
                                        商城价：￥{$announce_info['goods']['shop_price']}库存:{$announce_info['goods']['store_count']}
                                    </notempty>
                                </div>
                            </div>
                        </if>
                    </div>
                    <span class="err" id="err_goods_name"></span>
                    <p class="notic">
                        <a onclick="selectGoods()" class="ncap-btn" id="select_goods_button"><i class="fa fa-search"></i>选择商品</a>
                    </p>
                </dd>
            </dl>
            <div class="bot"><a onclick="verifyForm()" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var ajax_return_status = 1; // 标识ajax 请求是否已经回来 可以进行下一次请求
    function verifyForm(){
        $('span.err').hide();
        if (ajax_return_status == 0) {
            return false;
        }
        ajax_return_status = 0;
        $.ajax({
            type: "POST",
            url: "{:U('Admin/Article/announceInfo')}",
            data: $('#handleposition').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {icon: 1, time: 1000}, function(){
                        location.href = "{:U('Admin/Article/announceList')}";
                    });
                } else {
                    layer.msg(data.msg, {icon: 2,time: 1000});
                    $.each(data.result, function (index, item) {
                        $('#err_' + index).text(item).show();
                    });
                    ajax_return_status = 1;
                }
            }
        });
    }
    function selectGoods(){
        var url = "{:U('Promotion/search_goods', array('tpl'=>'select_goods'))}";
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
    }
    function selGoodsCallBack(goodsItem){
        $('input[name=goods_id]').val(goodsItem.goods_id);
        var html = '';
        if(goodsItem.spec != null){
            //有规格
            html = '<div style="float: left;margin: 10px auto;" class="selected-group-goods"><div class="goods-thumb">' +
                    '<img style="width: 162px;height: 162px" src="'+goodsItem.spec.spec_img+'"/></div> <div class="goods-name"> ' +
                    '<a target="_blank">'+goodsItem.goods_name+goodsItem.spec.key_name+'</a> </div>' +
                    ' <div class="goods-price">商城价：￥'+goodsItem.spec.price+'库存:'+goodsItem.spec.store_count+'</div> </div>';
            $('input[name=item_id]').val(goodsItem.spec.item_id)
            $('input[name=goods_name]').val(goodsItem.goods_name + goodsItem.spec.key_name);
        }else{
            html = '<div style="float: left;margin: 10px auto;" class="selected-group-goods"><div class="goods-thumb">' +
                    '<img style="width: 162px;height: 162px" src="'+goodsItem.goods_image+'"/></div> <div class="goods-name"> ' +
                    '<a target="_blank">'+goodsItem.goods_name+'</a> </div>' +
                    ' <div class="goods-price">商城价：￥'+goodsItem.goods_price+'库存:'+goodsItem.store_count+'</div> </div>';
            $('input[name=goods_name]').val(goodsItem.goods_name);
        }
        $('#select_goods_button').attr('data-goods-id',goodsItem.goods_id);
        $('#selected_group_goods').empty().html(html);
        $('.selected-group-goods').show();
        layer.closeAll('iframe');
    }

</script>
</body>
</html>
