<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>公告管理</h3>
				<h5>网站系统优惠促销审核与管理</h5>
			</div>
		</div>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>公告列表</h3>
				<h5>(共{$page->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">公告ID</div>
                        </th>
						<th align="left" abbr="article_title" axis="col3" class="">
							<div style="text-align: center; width: 240px;" class="">标题</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: center; width: 100px;" class="">类型</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 80px;" class="">是否启动</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 150px;" class="">创建时间</div>
						</th>
						<th align="left" axis="col1" class="handle">
							<div style="text-align: center; width: 150px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="tDiv">
			<div class="tDiv2">
				<a href="{:U('Article/announceInfo')}">
					<div class="fbutton">
						<div title="添加活动" class="add">
							<span><i class="fa fa-plus"></i>添加公告</span>
						</div>
					</div>
				</a>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="announce_list" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 50px;">{$vo.id}</div>
                            </td>
							<td align="left" class="">
								<div style="text-align: center; width: 240px;">{$vo.title|getSubstr=0,30}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 100px;">{$vo.type_desc}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">
									<if condition='$vo[is_open] eq 1'>
										<span class="yes" onClick="changeTableVal('announce','id','{$vo.id}','is_open',this)" ><i class="fa fa-check-circle"></i>是</span>
										<else />
										<span class="no" onClick="changeTableVal('announce','id','{$vo.id}','is_open',this)" ><i class="fa fa-ban"></i>否</span>
									</if>
								</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 150px;">{$vo.create_time}</div>
							</td>
							<td align="left" class="handle">
								<div style="text-align: left; width: 170px; max-width:170px;">

									<a class="btn blue" href="{:U('Article/announceInfo', array('announce_id' => $vo['id']))}"><i class="fa fa-pencil-square-o"></i>编辑</a>
									<a class="btn red del" data-id="{$vo['id']}"><i class="fa fa-trash-o"></i>删除</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page->show()} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});

	$(document).on('click', '.del', function () {
		var id = $(this).data('id');
		layer.confirm('确认删除？', {btn: ['确定', '取消']}, function () {
			// 确定
			$.ajax({
				url:"{:U('Article/announceDel')}",
				data:{announce_id: id},
				dataType: 'json',
				success: function (data) {
					if (data.status == 1) {
						layer.msg(data.msg, {icon: 1, time: 2000}, function () {
							location.href = '';
						});
					} else {
						layer.msg(data.msg, {icon: 2})
					}
				}
			})
		}, function (index) {
			// 取消
			layer.close(index);
		});
	})
</script>
</body>
</html>