<include file="public/layout"/>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.all.min.js"/>
<script type="text/javascript" charset="utf-8" src="__ROOT__/public/plugins/Ueditor/lang/zh-cn/zh-cn.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>常见问题文章</h3>
                <h5>常见问题文章添加与管理</h5>
            </div>
        </div>
    </div>
    <form method="post" class="form-horizontal" id="data_form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>所属分类</label>
                </dt>
                <dd class="opt">
                    <select name="extend_cate_id">
                        <option value="0">请选择</option>
                        <foreach name="question_cate" item="vo" key="k" >
                            <option value="{$vo.id}" <?php if($vo[id] == $article[extend_cate_id]) echo 'selected="selected"' ?>>{$vo.name}</option>
                        </foreach>
                    </select>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>文章标题</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" name="title" value="{$article.title}">
                    <span class="err" id="err_title"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>排序</label>
                </dt>
                <dd class="opt">
                    <input type="text" placeholder="排序" name="extend_sort" value="{$article.extend_sort}" class="input-txt"
                           onKeyUp="this.value=this.value.replace(/[^\d]/g,'')">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>内容</label>
                </dt>
                <dd class="opt">
                    <textarea class="span12 ckeditor" id="post_content" name="content" title="">
                        {$article.content}
                    </textarea>
                </dd>
            </dl>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>关联的帮助中心文章ID</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" name="relate_article_id" value="{$article.relate_article_id}">
                    <span class="err" id="err_relate_article_id"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <div class="bot">
                <a href="#" onclick="$('#data_form').submit();return false;" class="ncap-btn-big ncap-btn-green">确认提交</a>
            </div>
        </div>
        <input type="hidden" name="article_id" value="{$article.id}">
    </form>
</div>
<script>

    var url = "{:url('Ueditor/index',array('savePath'=>'article'))}";
    var ue = UE.getEditor('post_content', {
        serverUrl: url,
        zIndex: 999,
        initialFrameWidth: "80%", //初化宽度
        initialFrameHeight: 300, //初化高度
        focus: false, //初始化时，是否让编辑器获得焦点true或false
        maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
        pasteplain: false, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
        autoHeightEnabled: true,
    });

</script>
</body>
</html>
