<include file="public/layout"/>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>广告详情</h3>
                <h5>广告添加与管理</h5>
            </div>
        </div>
    </div>
    <!--表单数据-->
    <form method="post" id="handleposition" action="{:U('Admin/Ad/adHandle')}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>广告名称：</label>
                </dt>
                <dd class="opt">
                    <input type="text" placeholder="名称" class="input-txt" name="ad_name" value="{$info.ad_name|default='自定义广告名称'}">
                    <span class="err" id="err_ad_name" style="color:#F00; display:none;">广告名称不能为空</span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit" colspan="2">
                    <label>广告类型：</label>
                </dt>
                <dd class="opt">
                    <if condition='$Request.param.is_app_ad eq 1'>
                        <select name="media_type" id="media_type" class="input-sm" class="form-control">
                            <option value="3" <if condition="$info.media_type eq 3 ">selected</if>>商品</option>
                            <option value="4" <if condition="$info.media_type eq 4 ">selected</if>>分类</option>
                            <option value="5" <if condition="$info.media_type eq 5 ">selected</if>>Web链接</option>
                        </select>
                    <else/>
                        <div id="gcategory">
                            <select name="media_type" class="input-sm" class="form-control">
                                <option value="0">图片</option>
                                <option value="1">flash</option>
                            </select>
                        </div>
                    </if>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>广告链接：</label>
                </dt>
                <dd class="opt" id="ad_link_dd">
                    <div id="link_url"> <!-- 网页链接 -->
                        <input type="text" placeholder="广告链接" class="input-txt" name="ad_link" value="{$info.ad_link}">
                        <span class="err" id="err_ad_link" style="color:#F00; display:none;"></span>
                        <p class="notic">跳转功能请复制链接（举例如下）：</p>
                        <p class="notic">
                            某个商品：https://mall.pumeiduo.com/#/goods/goods_details?goods_id=（你要跳转的商品id，如:150)&cart_type=0</p>
                        <p class="notic">任务列表：https://mall.pumeiduo.com/#/task/my_task</p>
                        <p class="notic">我的礼券列表：https://mall.pumeiduo.com/#/ticket/my_ticket?ticketType=0</p>
                        <p class="notic"> 领券中心列表：https://mall.pumeiduo.com/#/ticket/ticket_centre</p>
                        <p class="notic"> 优惠活动列表：http://mall.pumeiduo.com/#/goods/classify_list?prom_id=（活动id）</p>
                        <p class="notic"> 注意：
                            若首页弹窗不跳转，按钮功能设置为“关闭” 请填入“#”
                            首页弹窗按钮位置为距离弹窗底边60px-260px范围内</p>
                    </div>
                    <div id="link_category"> <!-- 分类链接 -->
                        <select name="cat_id1" id="cat_id1" onblur="get_category(this.value,'cat_id2','0');"
                                class="class-select valid">
                            <option value="0">请选择商品分类</option>
                            <foreach name="cat_list" item="v" key="k">
                                <option value="{$v['id']}" <if condition="$v['id'] eq $info[cat_id1]">selected="selected"</if>>
                                {$v['name']}
                                </option>
                            </foreach>
                        </select>
                        <select name="cat_id2" id="cat_id2" onblur="get_category(this.value,'cat_id3','0');"
                                class="class-select valid">
                            <option value="0">请选择商品分类</option>
                        </select>
                        <select name="cat_id3" id="cat_id3" class="class-select valid">
                            <option value="0">请选择商品分类</option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>广告链接是否需要登录检测</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="need_login_1" class="cb-enable  <if condition="$info['need_login'] eq 1">selected</if>">需要</label>
                        <label for="need_login_0" class="cb-disable <if condition="$info['need_login'] eq 0">selected</if>">不需要</label>
                        <input type="radio" id="need_login_1"  name="need_login" value="1" <if condition="$info['need_login'] eq 1">checked="checked"</if>>
                        <input type="radio" id="need_login_0" name="need_login" value="0" <if condition="$info['need_login'] eq 0">checked="checked"</if> >
                    </div>
                </dd>
            </dl>
            <if condition='$Request.param.is_app_ad eq 1'>
                <input name="pid" type="hidden" value="{$info.pid}">
            <else/>
                <dl class="row">
                    <dt class="tit" colspan="2">
                        <label>广告位置：</label>
                    </dt>
                    <dd class="opt">
                        <div>
                            <select name="pid" class="input-sm" class="form-control">
                                <volist name="position" id="item">
                                    <option value="{$item.position_id}" <if condition="$info[pid] eq $item[position_id]">selected</if>>{$item.position_name}</option>
                                </volist>
                            </select>
                        </div>
                    </dd>
                </dl>
            </if>
            <dl class="row">
                <dt class="tit">
                    <label>开始日期：</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" id="start_time" name="begin"
                           value="{$info.start_time|default='2016-01-01'}"/>
                    <span class="err"></span>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>结束时间：</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" id="end_time" name="end"
                           value="{$info.end_time|default='2019-01-01'}"/>
                    <span class="err"></span>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>广告图片</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="img_a" target="_blank" class="nyroModal" rel="gal" href="{$info.ad_code}">
                              <i id="img_i" class="fa fa-picture-o"
                                 onmouseover="layer.tips('<img src={$info.ad_code}>',this,{tips: [1, '#fff']});"
                                 onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="ad_code" name="ad_code" value="{$info.ad_code}"
                                   class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','ad','img_call_back')" size="30"
                                   hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <span class="err"></span>
                    <p class="notic">请上传图片格式文件,建议图片尺寸{$Request.param.suggestion}(宽*高, 如果不按要求上传图片将会导致前端广告显示不友好)</p>
                </dd>
            </dl>
            <if condition='$Request.param.is_app_ad eq 0'>
                <dl class="row">
                    <dt class="tit">
                        <label><em>*</em>背景颜色：</label>
                    </dt>
                    <dd class="opt">
                        <input type="color" placeholder="背景颜色：" class="input-txt" name="bgcolor" value="{$info.bgcolor}"/>
                        <span class="err" id="err_bgcolor" style="color:#F00; display:none;"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
            </if>
            <if condition='$Request.param.is_app_ad eq 0'>
                <dl class="row">
                    <dt class="tit">
                        <label>默认排序：</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" placeholder="排序" name="orderby" value="{$info.orderby}" class="input-txt">
                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
            </if>
            <dl class="row">
                <dt class="tit" colspan="2">
                    <label>APP内跳转位置</label>
                </dt>
                <dd class="opt">
                    <div>
                        <select name="target_type" class="input-sm" class="form-control">
                            <option value="0">请选择</option>
                            <option value="1" <if condition="$info[target_type] eq 1">selected</if>>商品详情</option>
                            <option value="2" <if condition="$info[target_type] eq 2">selected</if>>优惠促销</option>
                            <option value="3" <if condition="$info[target_type] eq 3">selected</if>>领券中心</option>
                            <option value="4" <if condition="$info[target_type] eq 4">selected</if>>任务中心</option>
                            <option value="5" <if condition="$info[target_type] eq 5">selected</if>>所有商品</option>
                            <option value="6" <if condition="$info[target_type] eq 6">selected</if>>促销商品</option>
                            <option value="7" <if condition="$info[target_type] eq 7">selected</if>>我的礼券</option>
                            <option value="8" <if condition="$info[target_type] eq 8">selected</if>>韩国购</option>
                            <option value="9" <if condition="$info[target_type] eq 9">selected</if>>VIP申请</option>
                            <option value="10" <if condition="$info[target_type] eq 10">selected</if>>SVIP专享</option>
                            <option value="11" <if condition="$info[target_type] eq 11">selected</if>>商品分类</option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="row goods" style="display: none;">
                <dt class="tit">
                    <label>选择跳转的商品</label>
                </dt>
                <dd class="opt">
                    <input type="text" readonly name="goods_name" value="{$info.goods.goods_name}" class="input-txt">
                    <input type="hidden" id="goods_id" name="goods_id" value="{$info.goods.goods_id}" class="input-txt">
                    <div style="overflow: hidden" id="selected_group_goods">
                        <if condition="$info['goods']['goods_id'] gt 0">
                            <div style="float: left;margin-right: 10px" class="selected-group-goods">
                                <div class="goods-thumb"><img style="width: 162px;height: 162px"  <notempty name="info['goods']">src="{$info['goods']['original_img']}"<else/>src="{$info['goods']['goods_id']|goods_thum_images=162,162}"</notempty>/></div>
                                <div class="goods-name">
                                    <a target="_blank" href="{:U('Admin/Goods/addEditGoods',array('id'=>$info['goods']['goods_id']))}">{$info.goods.goods_name}</a>
                                </div>
                            </div>
                        </if>
                    </div>
                    <span class="err" id="err_goods_name"></span>
                    <p class="notic">
                        <a onclick="selectGoods()" class="ncap-btn" id="select_goods_button"><i class="fa fa-search"></i>选择商品</a>
                    </p>
                </dd>
            </dl>
            <dl class="row prom" style="display: none;">
                <dt class="tit" colspan="2">
                    <label>选择跳转的优惠促销</label>
                </dt>
                <dd class="opt">
                    <div>
                        <select name="prom_id" class="input-sm" class="form-control">
                            <option value="0">请选择</option>
                            <volist name="prom_list" id="item">
                                <option value="{$item.id}" <if condition="$info[prom][id] eq $item[id]">selected</if>>{$item.title}</option>
                            </volist>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="row category" style="display: none;">
                <dt class="tit" colspan="2">
                    <label>选择跳转的商品分类页</label>
                </dt>
                <dd class="opt">
                    <div>
                        <select name="cate_id" class="input-sm" class="form-control">
                            <option value="0">请选择</option>
                            <volist name="goods_category" id="item">
                                <option value="{$item.id}" <if condition="$info[goods_category][id] eq $item[id]">selected</if>>{$item.name}</option>
                            </volist>
                        </select>
                    </div>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit()" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
        <input type="hidden" name="act" value="{$act}">
        <input type="hidden" name="ad_id" value="{$info.ad_id}">
    </form>
</div>
<script>
    function adsubmit() {
        $('#handleposition').submit();
    }

    function select_goods_dialog() {
        var url = "/index.php?m=Admin&c=ad&a=search_goods";
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.2,
            area: ['1020px', '75%'],
            content: url
        });
    }

    function refresh_media_type(mediaType) {
        if (mediaType > 2) {
            if (mediaType == 3) {
                //商品
                $("#link_goods").show();
                $("#link_goods").siblings().hide();
            } else if (mediaType == 4) {
                //商品分类
                $("#link_category").show();
                $("#link_category").siblings().hide();
            } else if (mediaType == 5) {
                //商品分类
                $("#link_url").show();
                $("#link_url").siblings().hide();
            }
        } else {
            //商品
            $("#link_goods").show();
            $("#link_goods").siblings().hide();
            $("#media_type").find("option[value=3]").attr("selected", true);
        }
    }

    $(document).ready(function () {
        $('#start_time').layDate();
        $('#end_time').layDate();

        $("#media_type").on("change", function () {
            var mediaType = $('#media_type option:selected').val();
            console.log(mediaType);
            refresh_media_type(mediaType);
        });

        <if condition = "$Request.param.is_app_ad eq 1" >
            <if condition = "$info.ad_id gt 0" >
                var mtype = "{$info.media_type}";
                refresh_media_type(mtype); //如果是编辑
            <else/>
                refresh_media_type(3); //如果是编辑
            </if>
        <else/>
            refresh_media_type(5); //如果是编辑
        </if>
        <if condition = "isset($info['cat_id2']) && $info['cat_id2'] gt 0" >
            // 商品分类第二个下拉菜单
            get_category('{$info[cat_id1]}', 'cat_id2', '{$info[cat_id2]}');
        </if>
        <if condition = "isset($info['cat_id3']) && $info['cat_id3'] gt 0" >
            // 商品分类第二个下拉菜单
            get_category('{$info[cat_id2]}', 'cat_id3', '{$info[cat_id3]}');
        </if>

        var target_type = $("select[name='target_type']").find("option:selected").val();
        switch (target_type) {
            case '1':
                $('.goods').show();
                break;
            case '2':
                $('.prom').show();
                break;
            case '11':
                $('.category').show();
                break;
        }
    });

    function goods_call_back(goodsId, goodsName) {
        //选中的商品
        $('#goods_name').html(goodsName);
        $('#goods_id').val(goodsId);
        console.log("goodsId : " + goodsId);
        layer.closeAll('iframe');
    }

    function img_call_back(fileurl_tmp) {
        $("#ad_code").val(fileurl_tmp);
        $("#img_a").attr('href', fileurl_tmp);
        $("#img_i").attr('onmouseover', "layer.tips('<img src=" + fileurl_tmp + ">',this,{tips: [1, '#fff']});");
    }

    $("select[name='target_type']").change(function () {
        switch ($(this).val()) {
            case '1':
                $('.goods').show();
                $('.prom').hide();
                $('.category').hide();
                break;
            case '2':
                $('.goods').hide();
                $('.prom').show();
                $('.category').hide();
                break;
            case '11':
                $('.goods').hide();
                $('.prom').hide();
                $('.category').show();
                break;
            default:
                $('.goods').hide();
                $('.prom').hide();
                $('.category').hide();
        }
    });

    function selectGoods() {
        var url = "{:U('Goods/search_goods',array('tpl'=>'select_goods'))}";
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
    }

    function selGoodsCallBack(goodsItem) {
        $('#goods_id').val(goodsItem.goods_id);
        var html = '';
        if (goodsItem.spec != null) {
            //有规格
            html = '<div style="float: left;margin: 10px auto;" class="selected-group-goods"><div class="goods-thumb">' +
                '<img style="width: 162px;height: 162px" src="' + goodsItem.spec.spec_img + '"/></div> <div class="goods-name"> ' +
                '<a target="_blank">' + goodsItem.goods_name + goodsItem.spec.key_name + '</a> </div> </div>';
            // $('input[name=item_id]').val(goodsItem.spec.item_id)
            $('input[name=goods_name]').val(goodsItem.goods_name + goodsItem.spec.key_name);
        } else {
            html = '<div style="float: left;margin: 10px auto;" class="selected-group-goods"><div class="goods-thumb">' +
                '<img style="width: 162px;height: 162px" src="' + goodsItem.goods_image + '"/></div> <div class="goods-name"> ' +
                '<a target="_blank">' + goodsItem.goods_name + '</a> </div> </div>';
            $('input[name=goods_name]').val(goodsItem.goods_name);
        }
        $('#select_goods_button').attr('data-goods-id', goodsItem.goods_id);
        $('#selected_group_goods').empty().html(html);
        $('.selected-group-goods').show();
        layer.closeAll('iframe');
    }
</script>
</body>
</html>
