<include file="public/layout"/>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>活动弹窗列表</h3>
                <h5>活动弹窗索引与管理</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation"
         style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>活动弹窗列表</h3>
                <h5>(共{$pager->totalRows}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <form class="navbar-form form-inline" action="{:U('Ad/popupList')}" method="post">
                <div class="sDiv">
                    <div class="sDiv2">
                        <select name="popup_type" class="form-control">
                            <option value="0">==查看所有==</option>
                            <volist name="popup_type" id="item" key="k">
                                <option value="{$k}" <if condition="$select_popup_type == $k"> selected </if>>{$item}</option>
                            </volist>
                        </select>
                        <input type="submit" class="btn" value="搜索">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">活动id</div>
                        </th>
                        <th align="center" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 200px;" class="">活动类型（跳转目标）</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">弹窗图片</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 150px;" class="">开始时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 150px;" class="">结束时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">排序</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">显示</div>
                        </th>
                        <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 100px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton"><a href="{:U('Ad/popupInfo')}">
                    <div class="add" title="新增弹窗"><span><i class="fa fa-plus"></i>新增弹窗</span></div>
                </a></div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <foreach name="list" item="vo" key="k">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 50px;">{$vo[id]}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 200px;">{$vo.type_desc}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;"><img src="{$vo.show_path}" width="80px" height="45px"></div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$vo.start_time|date='Y-m-d H:i:s',###}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$vo.end_time|date='Y-m-d H:i:s',###}
                                </div>
                            </td>
                            <td align="center">
                                <div style="text-align: center; width: 100px;">
                                    <input type="text" onKeyUp="this.value=this.value.replace(/[^\d]/g,'')"
                                           onpaste="this.value=this.value.replace(/[^\d]/g,'')"
                                           onBlur="changeTableVal('popup','id','{$vo.id}','sort',this)" size="4"
                                           value="{$vo.sort}" style="text-align: center;"/>
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                    <if condition='$vo[is_open] eq 1'>
                                        <span class="yes" onClick="changeTableVal('popup','id','{$vo.id}','is_open',this)"><i class="fa fa-check-circle"></i>是</span>
                                        <else/>
                                        <span class="no" onClick="changeTableVal('popup','id','{$vo.id}','is_open',this)"><i class="fa fa-ban"></i>否</span>
                                    </if>
                                </div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 100px;">
                                    <a href="{:U('Ad/popupInfo', array('act'=>'edit','id'=>$vo['id']))}" class="btn blue"><i
                                            class="fa fa-pencil-square-o"></i>编辑</a>
                                    <a class="btn red" onClick="delfunc(this)" data-url="{:U('Ad/popupInfo')}"
                                       data-id="{$vo.id}"><i class="fa fa-trash-o"></i>删除</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <!--分页位置-->
                {$page->show()}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function () {
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function () {
            location.href = location.href;
        });
    });

    function delfunc(obj) {
        layer.confirm('确认删除？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                // 确定
                $.ajax({
                    type: 'post',
                    url: $(obj).attr('data-url'),
                    data: {act: 'del', del_id: $(obj).attr('data-id')},
                    dataType: 'json',
                    success: function (data) {
                        layer.closeAll();
                        if (data.status == 1) {
                            layer.msg(data.msg, {icon: 1});
                            $(obj).parent().parent().parent('tr').remove();
                        } else {
                            layer.msg(data.msg, {icon: 2, time: 2000});
                        }
                    }
                })
            }, function (index) {
                layer.close(index);
            }
        );
    }
</script>
</body>
</html>
