<include file="public/layout"/>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>活动弹窗详情</h3>
                <h5>活动弹窗详情添加与管理</h5>
            </div>
        </div>
    </div>
    <!--表单数据-->
    <form method="post" id="handleposition" action="{:U('Admin/Ad/popupInfo')}">
        <input type="hidden" name="id" value="{$popup_info.id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit" colspan="2">
                    <label>弹窗类型：</label>
                </dt>
                <dd class="opt">
                    <select name="type" class="input-sm" class="form-control" id="popup_type">
                        <option value="1"<if condition="$popup_info.type eq 1 ">selected</if>>无跳转</option>
                        <option value="2"<if condition="$popup_info.type eq 2 ">selected</if>>VIP申请</option>
                        <option value="3"<if condition="$popup_info.type eq 3 ">selected</if>>促销商品</option>
                        <option value="4"<if condition="$popup_info.type eq 4 ">selected</if>>优惠团购</option>
                        <option value="5"<if condition="$popup_info.type eq 5 ">selected</if>>超值套装</option>
                        <option value="6"<if condition="$popup_info.type eq 6 ">selected</if>>领券中心</option>
                        <option value="7"<if condition="$popup_info.type eq 7 ">selected</if>>我的礼券</option>
                        <option value="8"<if condition="$popup_info.type eq 8 ">selected</if>>任务中心</option>
                        <option value="9"<if condition="$popup_info.type eq 9 ">selected</if>>商品详情</option>
                        <option value="10"<if condition="$popup_info.type eq 10 ">selected</if>>商品分类</option>
                        <option value="11"<if condition="$popup_info.type eq 11 ">selected</if>>韩国购</option>
                        <option value="12"<if condition="$popup_info.type eq 11 ">selected</if>>SVIP专享</option>
                    </select>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>弹窗关联</label>
                </dt>
                <dd class="opt">
                    <select name="type_id" id="popup_type_id">
                        <option value="0">请选择</option>
                    </select>
                </dd>
            </dl>
            <dl class="row" style="display: none;">
                <dt class="tit">
                    <label><em>*</em>商品编号</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="goods_sn" id="goods_sn" value="{$popup_info.goods_sn}" class="input-txt">
                    <span class="err" id="err_goods_sn"></span>
                    <p class="notic">请填写商品编号</p>
                </dd>
            </dl>
            <!--<dl class="row">
                <dt class="tit" colspan="2">
                    <label>弹出限制：</label>
                </dt>
                <dd class="opt">
                    <select name="show_limit" class="input-sm" class="form-control">
                        <option value="1"<if condition="$popup_info.show_limit eq 1 ">selected</if>>每天一次</option>
                        <option value="2"<if condition="$popup_info.show_limit eq 2 ">selected</if>>活动期间一次</option>
                    </select>
                </dd>
            </dl>-->
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>弹窗图片</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="img_a" target="_blank" class="nyroModal" rel="gal" href="{$popup_info.show_path}">
                              <i id="img_i" class="fa fa-picture-o"
                                 onmouseover="layer.tips('<img src={$popup_info.show_path}>',this,{tips: [1, '#fff']});"
                                 onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="show_path" name="show_path" value="{$popup_info.show_path}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','ad','img_call_back')" size="30"
                                   hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <span class="err"></span>
                    <p class="notic">请上传图片格式文件</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>开始时间：</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" id="start_time" name="start_time" value="{$popup_info.start_time|default=$start_time}"/>
                    <span class="err"></span>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>结束时间：</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" id="end_time" name="end_time" value="{$popup_info.end_time|default=$end_time}"/>
                    <span class="err"></span>
                </dd>
            </dl>
            <if condition='$Request.param.is_app_ad eq 0'>
                <dl class="row">
                    <dt class="tit">
                        <label>弹窗排序：</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" placeholder="0" name="sort" value="{$popup_info.sort}" class="input-txt" oninput="value=value.replace(/[^\d]/g,'')">
                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
            </if>
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit()" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
        <input type="hidden" name="act" value="{$act}">
        <input type="hidden" name="ad_id" value="{$popup_info.ad_id}">
    </form>
</div>
<script>
    function adsubmit() {
        $('#handleposition').submit();
    }

    $(document).ready(function () {
        $('#start_time').layDate();
        $('#end_time').layDate();
        var popup_type = $('#popup_type').find("option:selected").val();
        if (popup_type == '9') {
            $('#popup_type_id').parent().parent().hide();
            $('#goods_sn').parent().parent().show();
        } else {
            $('#popup_type_id').parent().parent().show();
            $('#goods_sn').parent().parent().hide();
            var popup_type_id = "{$popup_info.type_id}";
            var url = '';
            var data = '';
            switch (popup_type) {
                case '10':
                    // 分类
                    url = "{:U('Admin/Goods/ajaxCategoryList')}";
                    data = {level: 3};
                    break;
                default:
                    $('#popup_type_id').parent().parent().hide();
                    return;
            }
            $.ajax({
                type: 'GET',
                url: url,
                data: data,
                dataType: 'json',
                error: function () {
                    layer.alert("服务器繁忙, 请联系管理员!");
                },
                success: function (data) {
                    if (data.status == 1) {
                        if (data.result.length == 0) {
                            var option = '<option value="0">请选择</option>';
                        } else {
                            var option = '';
                            $.each(data.result, function(index, item) {
                                if (popup_type_id == item.id) {
                                    option = option + '<option value="'  +item.id + '" selected>' + item.title + '</option>';
                                } else {
                                    option = option + '<option value="'  +item.id + '">' + item.title + '</option>';
                                }
                            });
                        }
                        $('#popup_type_id').html(option);
                    }
                }
            });
        }
    });

    /**
     * 类型选择处理
     */
    $('#popup_type').change(function () {
        selectContact();
    });

    /**
     * 选择处理
     */
    function selectContact() {
        var popup_type = $('#popup_type').find("option:selected").val();
        if (popup_type == '9') {
            $('#popup_type_id').parent().parent().hide();
            $('#goods_sn').parent().parent().show();
        } else {
            $('#popup_type_id').parent().parent().show();
            $('#goods_sn').parent().parent().hide();
            var url = '';
            var data = '';
            switch (popup_type) {
                case '10':
                    // 分类
                    url = "{:U('Admin/Goods/ajaxCategoryList')}";
                    data = {level: 3};
                    break;
                default:
                    $('#popup_type_id').parent().parent().hide();
                    return;
            }
            $.ajax({
                type: 'GET',
                url: url,
                data: data,
                dataType: 'json',
                error: function () {
                    layer.alert("服务器繁忙, 请联系管理员!");
                },
                success: function (data) {
                    if (data.status == 1) {
                        if (data.result.length == 0) {
                            var option = '<option value="0">请选择</option>';
                        } else {
                            var option = '';
                            $.each(data.result, function(index, item) {
                                option = option + '<option value="'  +item.id + '">' + item.title + '</option>';
                            });
                        }
                        $('#popup_type_id').html(option);
                    }
                }
            });
        }
    }

    function img_call_back(fileurl_tmp) {
        $("#show_path").val(fileurl_tmp);
        $("#img_a").attr('href', fileurl_tmp);
        $("#img_i").attr('onmouseover', "layer.tips('<img src=" + fileurl_tmp + ">',this,{tips: [1, '#fff']});");
    }
</script>
</body>
</html>
