<include file="public/layout"/>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>会员升级VIP统计</h3>
            </div>
            <ul class="tab-base nc-row">
                <foreach name="group_list" item="v" key="k">
                    <li>
                        <a href="{:U('Distribut/distributeLogSvip',['inc_type'=> $k])}"<if condition="$k==$inc_type">class="current"</if>>
                            <span>{$v}</span>
                        </a>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <form class="navbar-form form-inline" method="post" action="" name="search-form" id="search-form">
                <input type="hidden" name="type" value="daily">
                <div class="sDiv">
                    <div class="sDiv2">
                        <input type="text" size="30" id="start_time" name="start_time" value="{$start_time}"
                               class="qsbox" placeholder="开始时间">
                    </div>
                    <div class="sDiv2">
                        <input type="text" size="30" id="end_time" name="end_time" value="{$end_time}" class="qsbox"
                               placeholder="结束时间">
                    </div>
                    <div class="sDiv2">
                        <input type="button" onclick="ajax_get_table('search-form', 1)" class="btn" value="搜索">
                    </div>
                    <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 150px;" class="">时间</div>
                        </th>
                        <th align="center" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 150px;" class="">SVIP套组升级数</div>
                        </th>
                        <th align="center" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 150px;" class="">SVIP累计升级数</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">

            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // 点击刷新数据
        $('.fa-refresh').click(function () {
            location.href = location.href;
        });

        $('#start_time').layDate();
        $('#end_time').layDate();
        // ajax 抓取页面
        ajax_get_table('search-form', 1);
    });
    function ajax_get_table(tab, page) {
        $.ajax({
            type: "POST",
            url: "/index.php/Admin/distribut/ajaxDistributeLog/new_level/3",
            data: $('#' + tab).serialize(),// 你的formid
            success: function (data) {
                $("#flexigrid").html('');
                $("#flexigrid").append(data);
                // 表格行点击选中切换
                $('#flexigrid > table>tbody >tr').click(function () {
                    $(this).toggleClass('trSelected');
                });
            }
        });
    }
</script>
</body>
</html>
