<table>
    <tbody>
    <if condition="empty($task_log) eq true">
        <tr data-id="0">
            <td class="no-data" align="center" axis="col0" colspan="50">
                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
            </td>
        </tr>
    <else/>
        <volist name="task_log" id="list">
            <tr data-order-id="{$list.id}" id="{$list.id}">
                <td class="sign" axis="col0">
                    <div style="width: 24px;"><i class="ico-check"></i></div>
                </td>
                <td align="left" abbr="order_sn" axis="col3" class="">
                    <div style="text-align: center; width: 50px;" class="">{$list.id}</div>
                </td>
                <td align="left" abbr="order_sn" axis="col3" class="">
                    <div style="text-align: center; width: 50px;" class="">{$list.user_id}</div>
                </td>
                <td align="left" abbr="consignee" axis="col4" class="">
                    <div style="text-align: center; width: 80px;" class="">{$list.task_id|task_type}</div>
                </td>
                <td align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 80px;" class="">{$list.reward_integral}</div>
                </td>
                <td align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 80px;" class="">{$list.reward_coupon_money}</div>
                </td>
                <td align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 80px;" class="">{$list.reward_electronic}</div>
                </td>
                <td align="left" abbr="consignee" axis="col4" class="">
                    <div style="text-align: center; width: 300px;" class="" title="{$reward_desc}">
                        {$list.task_reward_desc}
                    </div>
                </td>
                <td align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 80px;" class="">
                        <switch name="$list[status]">
                            <case value="0">
                                未领取
                            </case>
                            <case value="1">
                                已领取
                            </case>
                            <case value="-1">
                                已取消
                            </case>
                            <case value="-2">
                                已重置
                            </case>
                        </switch>
                    </div>
                </td>
                <td align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 120px;" class="">{$list.created_at}</div>
                </td>
                <td align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 120px;" class="">{$list.status == 1 ? $list.finished_at :
                        ''}
                    </div>
                </td>
                <php>
                    $html = '';
                    if($list['user_task']['order_sn_list']) {
                        $order_list = explode(',',$list['user_task']['order_sn_list']);
                        foreach($order_list as $v) {
                            $order_id = M('order')->where('order_sn',$v)->getField('order_id');
                            $url = url('Admin/order/detail',['order_id'=>$order_id]);
                            $html .= "<a target='_blank' href=$url>$v</a> ,";
                        }
                    }
                </php>
                <td align="left" abbr="consignee" axis="col4" class="" style="width: 100%;">
                    <div style="text-align: left; width: auto;" class="" title="{$list.user_task.order_sn_list}">
                        {$html}
                    </div>
                </td>
            </tr>
        </volist>
    </if>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right">{$page}</div>
</div>
<script>
    $(".pagination  a").click(function () {
        var page = $(this).data('p');
        ajax_get_table('search-form2', page);
    });


    $('.ftitle>h5').empty().html("(共{$pager->totalRows}条记录)");
</script>
